<!--INICIO MODAL 2-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Asesoría Legal</h2>
                       <h3>Este servicio se otorgará sin límite de eventos al año sobre los siguientes temas:</h3>
                       <p>Reclamos al Sernac por infracciones a la Ley de Protección a los Derechos del Consumidor relacionados con la adquisición o cuidado de mascotas</p>
                        
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->