<!-- INICIO MODAL 1 -->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_10" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Convenio Adicional con Farmacias Cruz Verde</h2>
                       <h3>El Usuario podrá optar a descuentos adicionales por las compras que realice en la red de sucursales de Farmacias Cruz Verde con un tope máximo de descuento mensual acumulado de $12.000. Los descuentos adicionales a los que podrá optar son los siguientes:</h3>
                       <ul>
                       	<li>1) 40% de descuento adicional en categoría Analgésicos y Antinflamatorios genéricos.</li>
                       	<li>2) 12% de descuento adicional en categoría Mascotas.</li>
                       	<li>3) 15% de descuento adicional en Elementos de Curaciones.</li>
                       	
						   
                       </ul>
                       <p>Los ítems 1 y 3 comprenden productos genéricos que podrían ser usados tanto para humanos como para animales.</p>
                       <p>Se excluyen medicamentos oncológicos, inmunológicos, medicina reproductiva, vacunas para humanos y todo producto asociado al Centro de Especialidades Farmacéuticas Cesfar. </p>
                       <p>No es necesaria la presentación de receta a menos que sea exigido por el Ministerio de Salud. </p>
                    	<p>
MetLife Chile Seguros Generales S.A. se reserva el derecho de modificar el proveedor de la asistencia en cualquier momento y sin expresión de causa, otorgando a sus asegurados una alternativa equivalente.</p>
                     </div>
                 </div>
          </div>
        </div>
      </div>
<!-- FIN MODAL --> 