#contenido_ffss {
	width: 987px;
	height: 1530px;
	display: block;
	float: left;
}

#cont_img {
	width:987px;
	height:444px;
	display:block;
	float:left;
	background-color:#CCC;
}

#cont_img a {
	width:987px;
	height:444px;
	display:block;
	float:left;
	background-color:#CCC;
}

#cont_img_01 {
	width:987px;
	height:233px;
	display:block;
	float:left;
}

#cont_img_02 {
	width:987px;
	height:211px;
	display:block;
	float:left;
}

#contenido_iconos {
	width:987px;
	height:auto;
	display:block;
	float:left;
}

#cont_sep_icon {
	width: 50px;
	height: 85px;
	display: block;
	float: left;
}

#cont_sep_icon_2 {
	width: 20px;
	height: 85px;
	display: block;
	float: left;
}

#cont_icon {
	width:85px;
	height:85px;
	display:block;
	float:left;
}

#cont_icon_txt_numero {
	width: 24px;
	height: 70px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #ee8600;
	text-align: right;
	margin-top: 15px;
}

#cont_icon_txt {
	width: 165px;
	height: 70px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #ee8600;
	text-align: left;
	margin-top: 15px;
	margin-left:5px;
}

a:hover #cont_icon_txt, a:hover #cont_icon_txt_numero {
	color: #00ABE3;
}

#cont_icon_total {
	width: 280px;
	height: 85px;
	display: block;
	float: left;
}

#cont_icon_total a {
	width:280px;
	height:85px;
	display:block;
	float:left;
	text-decoration:none;
}

#cont_sep_3 {
	width:987px;
	height:20px;
	display:block;
	float:left;
}

#cont_txt_legal {
	width: 987px;
	height: 510px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #999999;
	padding-top: 7px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
