<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>11. </strong>Orientación legal telefónica en la realización
					de trámites en registro civil y municipales, dado el uso del
					vehículo.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong> Inspección vehículo por vacaciones</strong>
			</p>
			<p align="justify">Legal Chile, empresa de ayuda en ámbitos
				legales entrega orientación, asesorías y representación judicial en
				distintas materias. Incluye servicio de orientación legal telefónica
				o vía mail en horario hábil, que cubre el 100% de honorarios de
				abogados en las siguientes prestaciones:</p>
			<p align="justify">a) Trámites del vehículo que se realizan ante
				el Registro Civil: Obtención de patente, pérdida y duplicado,
				inscripción del vehículo en Registro Nacional de Vehículos
				Motorizados (vehículo nuevo y usado).</p>
			<p align="justify">b) Trámites y plazos para el cambio de
				inscripción del vehículo en el Registro Civil : Constitución y
				alzamiento de prendas sobre el vehículo asegurado, certificado de
				anotaciones vigentes, transferencias, cambio de domicilio de
				propietario, cambio de características del vehículo (cambio de
				color, chasis, etc.),trámites del vehículo que se realizan ante las
				Municipalidades, permiso de circulación y duplicados, licencias de
				conducir y duplicados.</p>
			<p align="justify">c) Orientación legal en otras materias:
				atenciones de urgencia, tramites a realizar en el Instituto Médico
				Legal, seguro obligatorio de accidente de tránsito y otros seguros
				del vehículo y trámites asociados a TAG.</p>
		</div>
	</div>
</div>
