<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>12. </strong>Te apoyamos cuando tengas infracciones ante el
					juzgado de policía local, tramitando el pago y retiro de la
					licencia de conducir.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Asesoría legal y tramitación de documentos</strong>
			</p>
			<p align="justify">
				<strong><h5>Legal Chile, ofrece asistencia legal que
						cubre el 100% de honorarios de abogados en la realización de las
						siguientes gestiones:</h5> </strong>
			</p>
			<p align="justify">a) Infracciones a la ley de transito:
				Recepción del parte, solicitud de formulario de pago al juzgado de
				policía local correspondiente, pago del parte en tesorería comunal,
				solicitud de aplicación de rebaja automática del 25% de la multa,
				acreditación del pago en el juzgado de policía local y solicitud de
				devolución de documentos cuando corresponda, solicitud de exhorto al
				juzgado de policía local correspondiente en caso de infracciones
				cursadas fuera del territorio jurisdiccional del domicilio del
				cliente o fuera de la Región Metropolitana, presentación de escritos
				de reconsideración de multa ante el juez de policía local
				correspondiente.</p>
			<p align="justify">b) Representación simple: En la solicitud de
				libertad provisional bajo fianza del asegurado en caso que sea
				detenido a consecuencia de la participación del automóvil en un
				accidente de tránsito y en casos de reclamos contra el vendedor o
				distribuidor de vehículos en relación con aspectos garantizados por
				la Ley de Protección a los Derechos del Consumidor.</p>
			<p align="justify">c) Solicitudes de inscripción del vehículo en
				el Registro Nacional de Vehículos Motorizados: Escrituras de
				constitución y alzamiento de prendas sobre el vehículo e inscripción
				de las mismas en los registros correspondientes. Nota: Las asesorías
				en que se requiera representación formal serán efectuadas por los
				abogados previa firma de mandato o poder por parte del cliente.</p>
			<p align="justify">d) Representación en Juicios, donde se cubre
				el 100% de honorarios de abogados en la atención de un número
				ilimitado de juicios relativos al: Vehículo asegurado, juicios
				civiles, representación del asegurado como solicitante en procesos
				de regularizaciones de inscripción de vehículos motorizados,
				representación judicial del asegurado como demandante en juicio de
				indemnización de perjuicios por daños originados en defectos del
				vehículo por falta de cumplimiento de garantía, representación
				judicial del asegurado como demandante o demandado en juicios
				indemnizatorios por daños en los bienes causados en choque o
				accidentes de tránsito.</p>
			<p align="justify">e) Juicios Penales: Representación del
				conductor del vehículo asegurado como querellante en procesos
				penales por cuasidelitos de lesiones u homicidio.</p>
			<p align="justify">f) Juicios de Policía Local: Representación
				del conductor como demandante o demandado en juicios por daños
				causados en choque o accidentes de tránsito, representación judicial
				del conductor en procesos seguidos por infracciones a la ley de
				tránsito , representación del asegurado como demandante en juicios
				por Ley de Protección a los Derechos del Consumidor en caso de falta
				de cumplimiento de la garantía del vehículo.</p>
			<p align="justify">
				<strong><h5>Exclusiones del servicio de Orientación
						Legal No habrá cobertura en los siguientes casos:</h5>
				</strong>
			</p>
			<p align="justify">- Atención de asuntos ocurridos antes de la
				entrada en vigencia del contrato.</p>
			<p align="justify">- Atención de asuntos regidos por una
				legislación distinta a la chilena.</p>
			<p align="justify">- Acciones contra Bancos e Instituciones
				Financieras, Compañía de Seguro y Corredoras de Seguros.</p>
			<p align="justify">- Representación simple de Libertad
				provisional que deban tramitarse fuera de la Región Metropolitana y
				las ciudades de Valparaíso y Viña del Mar.</p>
			<p align="justify">Nota Legal Chile se reserva el derecho de
				inhabilitarse en el caso de que ambas partes sean clientes. Además,
				todas las asesorías se efectuarán por los abogados de Legal Chile en
				sus oficinas de Santiago, correspondiendo al asegurado las gestiones
				de suscripción notarial de los instrumentos y sus correspondientes
				inscripciones y publicaciones, según corresponda.</p>
		</div>
	</div>
</div>
