<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>13.</strong> Si sufres un accidente en tu auto, te
					devolveremos el dinero debido a atenciones médicas, hospitalarias o
					sanitarias. Tope de 80 UF y 2 eventos al año.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Asistencia médica y reembolso de gastos médicos por
					accidente vehicular.</strong>
			</p>
			<p align="justify">MOK prestará la asistencia y/o reembolsará los
				gastos médicos cómo tope 40 UF en caso de accidente vehicular
				efectivamente incurridos por el asegurado a causa de un evento
				(Quedan sin coberturas lesiones provocadas por riñas) en los
				siguientes términos y condiciones:</p>
			<p align="justify">- El límite por evento operará después de la
				cobertura de Isapre, FONASA u otros seguros complementarios de
				salud.</p>
			<p align="justify">- En el caso de accidente automotriz, debe
				cubrirse los gastos por el seguro SOAP.</p>
			<p align="justify">- En caso que el beneficiario no posea ninguna
				cobertura de salud o si no hace uso del sistema previsional de
				salud, la asistencia y/o reembolso de gastos médicos se limitará a
				un 50% de los gastos Médicos efectuados hasta el tope de la
				cobertura.</p>
			<p align="justify">- Límite de UF 40 por evento, 2 eventos al año
				(tope anual UF 80)</p>
			<p align="justify">- Queda expresamente establecido que la
				asistencia y/o reembolso de gastos médicos será prestada
				directamente a través de la central de asistencia, siempre que los
				beneficiarios sigua los procedimientos señalados en la póliza.</p>
			<p align="justify">El Procedimiento del reembolso de los gastos
				médicos funciona en caso de que el o los beneficiarios sufran un
				accidente, se comunican con el Callcenter 24/7 los 365 días del año.
				Se coordina el traslado que puede ser Ambulancia o medio de
				transporte más idóneo dependiendo la gravedad. El traslado es a los
				centros de la Mutual de Seguridad y/o Asociación Chilena de
				Seguridad (ACHS) y Clínicas en convenio a nivel nacional. En caso
				que el o los beneficiario opten por atenderse en otro centro médico
				público o privado, éste podrá solicitar el reembolso de los Gastos
				Médicos hasta el límite de 40 UF anual. El límite por Evento operará
				después de la cobertura de ISAPRE, FONASA u otros seguros
				complementarios de salud. En el caso de accidente automotriz, debe
				pasar los gastos por el seguro SOAP. En caso que el beneficiario no
				posea ninguna cobertura de salud o si no hace uso del sistema
				previsional de salud, la Asistencia y/o reembolso de Gastos Médicos
				se limitará a un 50% de los Gastos Médicos efectuados hasta el tope
				de la cobertura.</p>
			<p align="justify">
				* En caso de que se atiendan en forma particular o por sus propios
				medios, el o los beneficiarios deben entregar los documentos
				originales al correo <strong><h5>atencionclientes@grupomok.com</h5>
				</strong> y se gestionará la transferencia dentro de 15 días hábiles.
			</p>
		</div>
	</div>
</div>
