<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>5. </strong>Vehículo de reemplazo para catalíticos en caso
					de restricción vehicular.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong>Vehículo de reemplazo para catalíticos en caso de
					restricción vehicular:</strong>
			</p>
			<p align="justify">Por motivo de pre-emergencia o emergencia
				ambiental declarada por las entidades de gobierno pertinentes, el
				titular del vehículo asegurado que sea directamente afectado por
				restricción vehicular correspondiente, tendrá derecho a un vehículo
				de reemplazo por para el día después de haber sido verificada la
				situación ambiental y declarada la restricción vehicular que afecte
				al vehículo asegurado. El vehículo tendrá un copago de $ 4.000 más
				IVA por el día requerido (no incluye peajes, bencina ni TAG, lo que
				será completamente de costo del asegurado). El asegurado deberá
				contactar a Asistencia Cencosud antes de la media noche (00:00)
				previa al comienzo de dicha restricción. Los clientes que hayan
				coordinado el vehículo de reemplazo en dicho momento serán
				contactados a la mañana siguiente para retirar su vehículo en el
				lugar especificado por la compañía antes de las 10 hrs de la mañana.
				El vehículo será de tipo básico. Este servicio sólo aplica a
				vehículos de uso particular. El asegurado responderá por cualquier
				infracción, falta, multas, delito o similares que pueda ocasionar
				por motivos del uso del vehículo de reemplazo en comento.</p>
		</div>
	</div>
</div>