<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="row">
	<div class="col-md-12 col-xs-12">
		<div>
			<h4 class="title">
				<p align="justify">
					<strong>8. </strong>Llevamos tu auto al taller y lo traemos de
					vuelta cuando necesites realizar la mantención del auto por
					kilometraje.
				</p>
			</h4>
		</div>
		<div>
			<p align="justify">
				<strong> Conducción por mantención de kilometraje</strong>
			</p>
			<p align="justify">El objetivo es brindar un servicio de traslado
				del vehículo asegurado a taller de la marca, en caso de que el
				titular de la póliza requiera realizar la mantención de kilometraje
				a su vehículo. El servicio brindará al asegurado un vehículo de
				reemplazo básico por el tiempo que demore la mantención hasta un
				máximo de 2 días hábiles corridos.</p>
			<p align="justify">- El cliente deberá coordinar el servicio con
				una semana de anticipación.</p>
			<p align="justify">- El día adicional de vehículo de reemplazo
				será de costo del asegurado. Retiro y devolución del vehículo
				asegurado desde el domicilio del Cliente.</p>
			<p align="justify">- Tope de 1 evento anual.</p>
			<p align="justify">- MOK se hará responsable de daños en el
				vehículo, siempre y cuando éstos hayan sido provocados por
				responsabilidad del chofer asignado, además el asegurado deberá
				firmar un inventario del vehículo previo al servicio.</p>
		</div>
	</div>
</div>