body {
	padding:0;
	margin:0;
}

#titulo_ficha_ffss {
	width:100%;
	height:auto;
	display:block;
	float:left;
	margin-bottom:5px;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
}

#titulo_ficha_ffss p {
	font-family: Century Gothic, Arial, Verdana, sans-serif; 
	font-size: 16px; 
	font-style: normal; 
	color: #ee8600;
	margin:0;
	padding:0;
}

#descripcion_ficha_ffss {
	width:100%;
	height:auto;
	display:block;
	float:left;
	margin-bottom:10px;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}

#descripcion_ficha_ffss p {
	font-family: Century Gothic, Arial, Verdana, sans-serif; 
	font-size: 12px; 
	font-style: normal; 
	color: #666;
	margin:0;
	padding:0;
}