#itemAcordeon a{

	color: #2D8CC4;
    cursor: pointer;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 280px;
    overflow: hidden;
    text-decoration: none;
    height: 396px;
    margin-left: 17px;
    /*position: absolute;*/
    /*top: 195px;*/
    width: 142px;
    /*z-index: 80;*/

}

#acordeon_izq {
	
	height: 396px;
    left: 155px;
    margin-left: 12px;
    top: 200px;
    width: 172px;
    z-index: 80;
	
}

#list2 {
	color: #2D8CC4;
    cursor: pointer;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 300px;
    overflow: hidden;
    text-decoration: none;
    	
}

#list2 a{
		
	color: #2D8CC4;
    cursor: pointer;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    
    	
}

#list2 a:active{
	color: #21668E;	
}

#list2 a:hover{
	color: #21668E;	
}

#list2 .auto {
	
	
}
#list2 .hogar {
	
}
#list2 .vida {
	
}

#list2 .ayudamos {
	
}

#list2 dd { height: 180px; overflow: hidden; margin-left: 0px; margin-right:40px; }

#list2 dd a{
	
	font-weight: normal;
	color: #666666;
    text-decoration: none;
    font-family: Arial;
    font-size: 11px;
	
}

#list2 dd a:hover{
	
	
	color: #999;
   
	
}

#list2 dt{
	
	height: 20px;
	padding-left: 5px;
	padding-top: 4px;
	
}

