#fondo {
	
	height: 870px;
    left: 179px;
    position: absolute;
    top: 365px;
    width: 990px;
    z-index: 1;
	
}

#fondoCurva {

	width: 987px;
	height: 18px;
	background-image: url("../img/curvaLinea.jpg");
	position:absolute;
	left: 180px;
	top: 1230px;
	z-index: 1;

}

#background {

	height: 100%;
    width: 992px;

}

#companias {

	height: 40px;
    left: 215px;
    position: absolute;
    top: 1280px;
    width: 932px;
    z-index: 1;

}

#footer {

	left: 180px;
   /* position: absolute;*/
    top: 1330px;
   /* z-index: 2;*/

}

#footer-menu {

	border-top: 1px solid #B9B7B7;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 987px;

	
	
	
	
}

#footer-menu ul {
    list-style-type: none;
    margin: 10px auto 0;
    padding: 0;
    text-align: center;
}

#footer-menu ul li {
    border-right: 1px solid #888D8E;
    color: #888D8E;
    display: inline;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}

#footer-menu ul li a {
    color: #888D8E;
    font-size: 11px;
    text-decoration: none;
}

#footer-menu ul li a:hover {
    color: #7BA7CB;
    text-decoration: none;
}
#footer-copiright {
    color: #B0B0BB;
    float: left;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    margin: -18px 0 0;
    text-align: center;
    text-decoration: none;
    width: 987px;
}