body {
	height: 800px;
	
}

#banner-slide {
	
	width: 985px;
	height: 107px;
	position:absolute;
	left: 174px;
	top: 577px;
	z-index: 81;
	/* border: 1px solid red; */
}





.productos-carrusel-a2 {
	float: left;
	width: 307px;
	background-color: #585858;
	height: 107px;
	margin-right: 0px;
	padding: 0px;
	/* background-image: url(../img/fondo-caluga.gif); */
	background-repeat: no-repeat;
	background-position: center top;
	
}

.productos-carrusel-a2 a{
	
	text-decoration: none;
	border: none;
	
	
}

.productos-carrusel-b2 {
	float: left;
	width: 307px;
	background-color: #666;
	height: 107px;
	padding: 0px;
	/* background-image: url(../img/fondo-caluga.gif); */
	background-repeat: no-repeat;
	background-position: center top;
}

#caluga1 {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga1.jpg);
	display:block;
	
}

#caluga1:hover {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga1hover.jpg);
	display:block;
	
}

#caluga2 {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga2.jpg);
	display:block;
	
}

#caluga2:hover {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga2hover.jpg);
	display:block;
	
}

#caluga3 {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga3.jpg);
	display:block;
	
}

#caluga3:hover {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga3hover.jpg);
	display:block;
	
}

#caluga4 {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga4.jpg);
	display:block;
	
}

#caluga4:hover {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga4Hover.jpg);
	display:block;
	
}

#caluga5 {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga5.jpg);
	display:block;
	
}

#caluga5:hover {
	
	width: 307px;
	height: 107px;
	background-image: url(../banner/caluga5Hover.jpg);
	display:block;
	
}


}
