<!--INICIO MODAL 1-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Vamos a buscar tu auto y lo llevamos donde tu necesites e incluso al taller donde repararas tu auto. Podrás usar este servicio hasta 3 eventos al año sin tope en UF.</h2>
                       <h3>Remolque o transporte del vehículo por accidente o avería de cualquier naturaleza, que cause la inmovilización del vehículo:</h3>
                       <p>En caso que el vehículo asegurado no pudiera circular por accidente o avería de cualquier naturaleza, la compañía se hará cargo del remolque o transporte hasta el taller que elija el asegurado. El límite máximo de esta prestación será de 3 eventos anuales sin tope de UF. Si la reparación del vehículo asegurado requiere un tiempo de inmovilización superior a 72 horas o, en caso de robo, si el vehículo es recuperado después que el asegurado se haya ausentado del lugar de ocurrencia del mismo, la compañía sufragará los siguientes gastos:</p>
                        <ul>
                           <li>El depósito y custodia del vehículo reparado o recuperado hasta un máximo de UF 9 por evento.</li>
                           <li>El desplazamiento del asegurado o de la persona habilitada que éste designe, hasta el lugar donde el vehículo haya sido reparado o donde el vehículo sustraído haya sido recuperado. La compañía determinará el medio idóneo de desplazamiento de los asegurados.</li>
                        </ul>
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->  
 