<!--INICIO MODAL 1-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Preguntas Frecuentes</h2>
                       
                      <h4> ¿Qué ocurre cuando el cliente fallece con sus ahorros?</h4>
                      <p>los ahorros se suman al capital que se pagará a los beneficiarios.</p>
                      
                      <h4>¿Puedo retirar desde el segundo mes de vigencia?</h4>
                      <p>Sí, este seguro permite retirar un retiro parcial o total desde el inicio de la vigencia (IMPORTANTE :considerar el monto de rescate mínimo exigido).</p>
                             
                             
                      <h4>Si los fondos de inversión son negativos, ¿Qué ocurre con mis ahorros?</h4>
                      <p>No se verán afectados por inversiones negativas ya que el producto tiene un UF + 2% de rentabilidad anual garantizada.</p>
                             
                             
                      <h4>¿Dónde y de qué manera el cliente podrá ver sus fondos de ahorro?</h4>
                      <p>Mensualmente MetLife le enviará al cliente una cartola con la rentabilidad de sus fondos. (Luego se disponibilizará una página web donde podrá el cliente ver esta cartola)</p>
                             
                             
                      <h4>¿De qué manera el cliente podrá retirar sus ahorros de manera parcial o total?</h4>
                      <p>Debe solicitar un formulario de rescate en los módulos de seguros Cencosud o al mail seguroconahorro@metlife.cl , enviarlo firmado junto a la copia del CI al mismo mail.</p>
                             
                      <h4>¿Este producto tiene carencia?</h4>
                      <p>No, este producto no tiene Carencia.</p>
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
<!--FIN MODAL-->  