<!--INICIO MODAL 1-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_1" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Consultas Legales</h2>
                       <h3>Este servicio se otorgará sin límite de eventos al año sobre los siguientes temas:</h3>
                       
                        <ul>
                           <li>Responsabilidad civil de los dueños en los daños causados por sus animales</li>
                           <li>Aspectos legales de la tenencia responsable de mascotas</li>
                           <li>Reglamentación comunal (ordenanzas) sobre tenencia de animales</li>
                           <li>Facultades de la autoridad sanitaria en relación con las mascotas</li>
                           <li>Multas y atribuciones de los jueces de policía local por infracción a las ordenanzas y otras faltas cometidas por los dueños de mascotas</li>
                           <li>Responsabilidad de los veterinarios por daños sufridos por las mascotas</li>
                           <li>Responsabilidad por daños sufridos por el consumidor en la compra, atención o cuidado de las mascotas (pets shop, hoteles para mascotas- peluquerías- cementerios u otros)</li>
                           <li>Traslado de mascotas dentro y fuera del país</li>
                           <li>Normas sobre la tenencia de mascotas en edificios</li>
                           <li>Delito de maltrato o crueldad animal</li>
                           <li>Este servicio se otorgará sin límite de eventos al año.</li>
                        </ul>
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->  
    
    <!--INICIO MODAL 2-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_2" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Asesoría Legal</h2>
                       <h3>Este servicio se otorgará sin límite de eventos al año sobre los siguientes temas:</h3>
                       <p>Reclamos al Sernac por infracciones a la Ley de Protección a los Derechos del Consumidor relacionados con la adquisición o cuidado de mascotas</p>
                        
                              
                              
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->  
    
    <!--INICIO MODAL 3-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_3" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Juicios</h2>
                       <h3>Este servicio se otorgará con un 50% de descuento sobre el arancel de Legal Chile que se encuentra protocolizado en notaria de don Humberto Quezada Moreno, con fecha 15 de marzo de 2011, respecto a los siguientes temas:</h3>
                       <p>Representación judicial como denunciante o querellante en Juzgado de Policía Local por infracciones a la Ley de Protección a los Derechos del Consumidor relacionados con la adquisición o cuidado de mascotas.</p>
                       <p>Representación judicial como denunciante o querellante en causas penales por el delito de maltrato o crueldad con animales.</p>       
                       <p>Defensa en causas civiles o de policía local por daños causados a terceros por su mascota.</p>       
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
      <!--INICIO MODAL 4-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_4" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Traslado Médico para la Mascota en caso de Accidente Traumático</h2>
                       <p>Si a consecuencia de accidente sufrido por la mascota, esta debe ser trasladada desde el lugar del accidente a un centro veterinario, se coordinará el medio que considere más idóneo el facultativo a cargo.  Este servicio se otorgará un máximo de 3 eventos al año.</p>
                                                      
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->  
     
    <!--INICIO MODAL 5-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_5" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Asistencia Veterinaria en caso de enfermedad</h2>
                       <p>En caso de enfermedad de la mascota, la central de Legal Chile se encargará de la coordinación y de la atención médica veterinaria.  Este servicio se otorgara  un máximo de 3 eventos al año hasta UF 3 por evento.</p>
                       
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
     <!--INICIO MODAL 6-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_6" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Hotel para la Mascota en caso de Hospitalización de su dueño sobre 3 días</h2>
                       
                       <p>Si a raíz de un accidente o enfermedad el asegurado dueño de la mascota debe ser hospitalizado, el servicio de asistencia proporcionará el servicio de alojamiento para su mascota, en un hotel establecido para estos fines, donde se le dará el cuidado debido a su mascota. Esta prestación tendrá un copago diario de $3.000 pesos IVA incluido por parte del asegurado. La mascota deberá encontrase con sus vacunas al día, el servicio sólo contempla proporcionar cuidado, alojamiento y comida, cualquier atención extra será de único y exclusivo cargo del asegurado.  Este servicio se otorgará sólo a la Mascota asegurada del seguro Jumbo Mascota.  Prestación sujeta a disponibilidad.</p>
                       <p>Este servicio se otorgará por un máximo de 7 días, con un copago diario de $3000.</p>
                                       
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL-->
    
    <!--INICIO MODAL 7-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_7" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Hotel para la Mascota en caso de viaje de su dueño sobre 7 días</h2>
                       <p>En caso de viaje nacional (*) o al extranjero superior a 7 días por parte del asegurado, la Asistencia coordinará, en caso de ser solicitado por éste, hasta un máximo de 7 días, el servicio de alojamiento para su mascota, en un hotel establecido para estos fines, donde se le dará el cuidado debido a su mascota. Esta prestación tendrá un copago diario de $3.000 pesos IVA incluido por parte del asegurado. La mascota deberá encontrase con sus vacunas al día, el servicio sólo contempla proporcionar cuidado, alojamiento y comida, cualquier atención extra será de único y exclusivo cargo del asegurado. Este servicio se otorgará sólo a la Mascota asegurada del seguro Jumbo Mascota</p>
                    	<p>Prestación sujeta a disponibilidad.</p>
                    	<p>Este servicio se otorgara  un máximo de 7 días  con un copago diario de $3000.</p>
                    	<p>(*)Hasta 2 eventos al año para viajes nacionales</p>
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
   
   <!--INICIO MODAL 8-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_8" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Orientación Médica Telefónica</h2>
                       <h3>El asegurado tendrá derecho a solicitar orientación médica telefónica para su mascota, con el objeto de obtener soporte médico y técnico en todos los aspectos relacionados con el ámbito veterinario.</h3>
                       <p>En este contexto, se brindará al asegurado la siguiente asistencia telefónica:</p>
                       
                       <ul>
                       	<li>Información sobre el uso y efectos de los medicamentos</li>
                       	<li>Interacción de medicamentos</li>
                       	<li>Interpretación de exámenes</li>
                       	<li>Fertilidad, sexualidad y embarazo</li>
                       	<li>Primeros auxilios</li>
                       	<li>Otras consultas relacionadas</li>
                       </ul>
                       <p>Este servicio es de carácter informativo por lo que no reemplaza la consulta con un veterinario. El Usuario podrá solicitar este servicio todas las veces que sea necesario.</p>
                    
                    
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    <!--INICIO MODAL 9-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_9" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Proceso General de Solicitud de los Servicios de Asistencia</h2>
                       <h3>Para acceder a estos servicios de asistencia, el Usuario debe comunicarse a los siguientes teléfonos:</h3>
                       
                       <ul>
                       	<li>Para las asistencias descritas en el punto 1, el usuario debe contactarse al teléfono 228874000. </li>
                       	<li>Para las asistencias descritas en el punto 2, el usuario debe contactarse al teléfono 228261015. </li>
                       	<li>Las asistencias descritas en el presente anexo tienen cobertura nacional, con exclusión de los territorios insulares, salvo Isla Grande de Chiloé.</li>
                       	
                       </ul>
                   	
                   	
                    
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 
    
    
    
    <!--INICIO MODAL 10-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_10" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Convenio Adicional con Farmacias Cruz Verde</h2>
                       <h3>El Usuario podrá optar a descuentos adicionales por las compras que realice en la red de sucursales de Farmacias Cruz Verde con un tope máximo de descuento mensual acumulado de $12.000. Los descuentos adicionales a los que podrá optar son los siguientes:</h3>
                       <ul>
                       	<li>1) 40% de descuento adicional en categoría Analgésicos y Antinflamatorios genéricos.</li>
                       	<li>2) 12% de descuento adicional en categoría Mascotas.</li>
                       	<li>3) 15% de descuento adicional en Elementos de Curaciones.</li>
                       	
						   
                       </ul>
                       <p>Los ítems 1 y 3 comprenden productos genéricos que podrían ser usados tanto para humanos como para animales.</p>
                       <p>Se excluyen medicamentos oncológicos, inmunológicos, medicina reproductiva, vacunas para humanos y todo producto asociado al Centro de Especialidades Farmacéuticas Cesfar. </p>
                       <p>No es necesaria la presentación de receta a menos que sea exigido por el Ministerio de Salud. </p>
                    	<p>
MetLife Chile Seguros Generales S.A. se reserva el derecho de modificar el proveedor de la asistencia en cualquier momento y sin expresión de causa, otorgando a sus asegurados una alternativa equivalente.</p>
                     </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 