<!--INICIO MODAL 15-->
    <div class="remodal dimen_modal_fichas" data-remodal-id="Modal_15" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">   
        <button class="remodal-close" data-remodal-action="close" aria-label="Close">  </button>
        <div class="c-modal__wrap pading_modal">
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="o-features__featTitle">
                       <h2 >Taxi S.O.S ida y vuelta</h2>
                    	<p>En caso de que el Asegurado solicite este servicio debido a que ha ingerido alcohol o básicamente se encuentre incapacitado para poder manejar, MOK pondrá a disposición un Taxi ida y vuelta que lo irá a buscar y a dejar al destino programado. El traslado es de un origen a un destino.</p>
                       	<h3>Limites</h3>
                       	<p>Cada trayecto tiene un Tope máximo 20 km o 60 min, lo primero que ocurra. Los excedentes son de cargo del asegurado, quien debe pagar directamente al chofer o previa transferencia bancaria al solicitar la asistencia.</p>
                       	
                       	<h3>Condiciones Particulares:</h3>
                       	
                       	<ul>
                       		<li>El servicio esperará al cliente un máximo de 15 minutos desde la hora de llegada acordada.</li>
                       		<li>El cliente tiene 24 hrs para programar la vuelta y no necesariamente es origen – destino –origen.</li>
                       		<li>La diferencia que exceda el Tope máximo por trayecto y que marque el taxímetro, es de exclusiva responsabilidad del cliente pagar al conductor.</li>
                       		<li>Límite de eventos: 6 eventos por año de vigencia sin costo para el Asegurado.</li>
                       		<li>El viaje de ida se debe solicitar con 2 hrs de anticipación.</li>
                       		<li> El regreso se debe solicitar dentro del plazo tope de 24 hrs con 2 horas de anticipación.</li>
                       		<li>El costo del TAG, peajes, estacionamiento aeropuerto u otro es de exclusiva responsabilidad del cliente.</li>
                       	</ul>
                       	
                       	
                </div>
                 </div>
          </div>
        </div>
      </div>
    <!--FIN MODAL--> 