/* CSS Document */


/*Pestañas de Fichas

se reajsuta el Acho de los <li> solo escritorio

*/


@media only screen and (min-width: 993px){
	
	
.undiv .tabs {
    display: flex;

}
.undiv .tabs li {
    flex: 1 1 auto;
}
	
	
}

/*Modal dde Fichas*/

.c-modal__wrap h2,
.c-modal__wrap h3, 
.c-modal__wrap h4{
	margin-bottom: 10px !important;
}
.pading_modal{
	padding:0 30px;
	
	
}
.dimen_modal_fichas{
	max-width: 70%;
	
	
	
}
.dimen_modal_fichas h5, 
.dimen_modal_fichas h3, 
.dimen_modal_fichas h4, 
.dimen_modal_fichas h2, 
.dimen_modal_fichas p,
.dimen_modal_fichas ul li
{
	text-align: left;
}
.dimen_modal_fichas h2{
	border-bottom: #ece8e8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 25px;
}


.o-features__featTitle ul li {
    color: #666666;
    font-size: 15px;
    font-family: "Helvetica Neue LT Std Roman", helvetica, arial, sans-serif;
    line-height: normal;
 
}

.featContent ul li{
	 color: #9A9A9A;
    font-size: 15px;
    font-family: "Helvetica Neue LT Std Roman", helvetica, arial, sans-serif;
    line-height: normal;
	
}

.dimen_modal_fichas ul,
.featContent ul
{
	padding-left: 20px;
	margin-bottom: 25px;
	
	
}
.dimen_modal_fichas ul li,
.featContent ul li
{
	margin-bottom: 7px;
	list-style-type: circle;
}

.dimen_modal_fichas ul li ul,
.featContent ul li ul
{
	padding-top: 10px;
	margin-bottom: 20px;
}



/*Dimension H3 no existente*/



.o-features__featTitle h3 {
	color: #333333;
    font-size: 25px;
    font-family: "Helvetica Neue LT Std Light", helvetica, arial, sans-serif;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 30px		

}
.o-features__featTitle h4 {
	color: #333333;
    font-size: 22px;
    font-family: "Helvetica Neue LT Std Light", helvetica, arial, sans-serif;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 30px		

}

/*Se cambia icono de Check OK por numero en beneficios */

.o-features__feat .featNumber{
	
	width: 16%;
	margin-right: 6px;
	
}

.o-features__feat .featNumber span {
    font-family: "Helvetica Neue LT Std Light", helvetica, arial, sans-serif;
    font-size: 52px;
    color: #fb802f;
    float: right;
}
.o-features__feat .featContent {
    border-left-color: #e8e8e8;
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 10px;
}

/*Texto legal*/

.txt_legal {
	padding-bottom: 50px;
	
	
}
.txt_legal p{
	font-size: 11px;
	line-height: 19px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.txt_legal h5{
	font-size: 14px;
	line-height: 19px;	
}

/*Alineacion de iciono en pestaña esclusiones*/

.o-features__feat--coverage .featNumber{
	vertical-align: top;
	
	
}

@media only screen and (max-width: 993px){
	.o-features__feat--coverage{
		padding-bottom: 21px;
		
		
	}
	
	
}


/*Extras*/

.linea_top{
	border-top-color: #cccccc;
	border-top-style: solid;
	border-top-width: 1px;
	
	
}
.linea_bottom{
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
}

.u-pb30{
	padding-bottom: 30px;
}

.u-pb10{
	padding-bottom: 10px;
}

.u-pb60{
	padding-bottom: 60px;
}




.u-pb0{
	padding-bottom: 0px;
}
.u-pt0{
	padding-top: 0px;
}

.ancho_100{
	width: 100%;
	
}
.ancho_50{
	width: 50%;
	display: inline-block;
}

.txt_centro{
	text-align: center !important;
	
	
}
.txt_izquieda{
	text-align: left !important;
	
}
.txt_derecha{
	text-align: right !important;
	
}

.flex_d_f{
	display: inline-flex;

}
.d_block{
	display: block;

}








.naranja_txt{
	color: #fb802f !important;	
}
.azul_txt{
	color: #019EE3 !important;
}

.gris_txt{
	color: #333333 !important;
}

/*cambios de css Esclusiones*/



@media only screen and (max-width: 992px){
	
.exclusiones .o-features__feat {
  
    height:  auto !important; 

}
.exclusiones .o-features__feat--coverage {
    padding-bottom: 0px;
}
	

	
	
}

/*.exclusiones .o-features__feat--coverage .featNumber{
		
	    width: 21% !important;	
	}*/
	
.exclusiones .o-features__feat--coverage .featNumber {
    
    padding-right: 0 !important;

}
.exclusiones h2,
.exclusiones h3,
.exclusiones p.margen
{
	padding-left: 40px;
	
}
.row.exclusiones > div {
    padding-left: 0;
}
.exclusiones .o-features__feat .featNumber .o-features__svg{
	
padding-right: 15px;	
}









/*TABLA STANDAR*/

.tabla_standar{
	
	border-spacing: 0;
    border-collapse: collapse;
	margin-bottom: 40px;
	width: 100%;
	border-right: solid 1px #cccccc;
}



.tabla_standar th, .tabla_standar td {
	padding: 20px;	
}
.tabla_standar th{
	background-color: #EEEEEE;
	color: #666666;
	text-transform: uppercase;
	font-size: 15px;
    letter-spacing: 4px;
	font-weight: 300;
}
.tabla_standar tr{
	border-collapse: collapse;
	border-top: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	
}

.tabla_standar td{
	border-bottom: solid 1px #ebeaea;
	border-left: solid 1px #cccccc;
	color: #666666;
	
}

.center_td tr td:first-child {
    text-align:center;
}

.tabla_standar td:last-child,
.tabla_standar th:last-child

{
	border-right: solid 1px #cccccc;
}

.tabla_standar th{
	
	border-left: solid 1px #cccccc;

}

.tabla_standar tr:first-child, .tabla_standar tr:last-child{
	
	border-bottom: solid 0px;
	
}


/*mejora tabla Comparativa*/


.o-table--comparative td{
	text-align: center;
    font-size: 14px;
    padding: 20px;
    background-color: #EEEEEE;
	
}
.o-table--comparative tr,
.o-table--comparative tr:first-child{
	border-bottom: solid 1px #CCCCCC;
	
}

.o-table--comparative td:first-child, 
.o-table--comparative th:first-child
{
	background-color: #FFF;
	
}

.o-table--comparative td:first-child
{
	text-align: left;
	
}



.o-features__feat .featNumber i.fa {
    font-size: 52px;
    color: #fb802f;
    float: right;
}

/*
.o-features__quotebox{
	
	width: 436px;
	
}*/



.o-box--plan .o-box__body .o-description:first-child {

	border-top-style: solid;
    border-top-color: #cccccc;
    border-top-width: 1px;
}
/*CAmbios en Margen top de cada pagina*/

#tab1,
#tab2,
#tab3,
#tab4
{
	padding-top: 40px;
	
	
}


#tab1 > h2:first-child,
#tab2 > h2:first-child,
#tab3 > h2:first-child,
#tab4 > h2:first-child
{
	padding-top: 0px !important;
	margin-top: 0 !important;
	
}
#tab1 > div > h2.u-text-center:first-child,
#tab2 > div > h2.u-text-center:first-child,
#tab3 > div > h2.u-text-center:first-child,
#tab4 > div > h2.u-text-center:first-child
{
	padding-top: 0px !important;
	margin-top: 0 !important;
	
}

#tab1 > div:first-child,
#tab2 > div:first-child,
#tab3 > div:first-child,
#tab4 > div:first-child
{
	padding-top: 0px !important;
	margin-top: 0 !important;
	
}


#tab1 > div > div > table,
#tab2 > div > div > table,
#tab3 > div > div > table,
#tab4 > div > div > table
{
	padding-top: 0px !important;
	margin-top: 0 !important;
	
	
}
#tab1 > h2{
	padding-top: 20px;
	
	
}

@media only screen and (max-width: 993px){
	
#tab1 > h3{
	padding-bottom: 20px;
	
	
}	
	
	
}



/*cambios en Tab Condiciones*/

/*#tab4 h2{
	padding-bottom: 20px;
	display: block;
	width: 100%;
	padding-top: 20px;
}*/


@media only screen and (max-width: 993px){
	
.featNumber_xs{
	width: 16%;
    margin-right: 6px;
    padding-right: 20px;
    float: none;
    display: table-cell;
    vertical-align: top;
}
	
	
.featNumber_xs .featNumber{
		padding-right: 0;	
}
	
}



@media only screen and (min-width: 993px){
	
.featNumber_xs{
	width: 8%;
    margin-right: 6px;
    padding-right: 20px;
    float: none;
    display: table-cell;
    vertical-align: top;
	
	
}
	
	
.featNumber_xs .featNumber{
		width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    float: none;
    display: block;
    vertical-align: top;

	
	
}
	
}

/*Despliege tabla responsiva*/



.o-description__term,
.o-description__def
{
	
	margin-left: 0;
	
}

.o-description__term {

        font-size: 14px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

/*parrafos de contenidos*/

.container .parrafos p{
	    color: #666666;
    font-size: 15px;
    font-family: "Helvetica Neue LT Std Roman", helvetica, arial, sans-serif;
    line-height: normal;
    margin-bottom: 30px;

	
	
}

@media only screen and (max-width: 992px){
	

section.tabsmix .container .row, .col-12 {
	margin-left: 0;
	margin-right: 0;
 
}

	
}

.o-features__featTitle h2 {
	margin-bottom: 0 !important;
}

/* PAGINAS INTERNAS (HTML) */
/* CSS Document */

.pestanas a.o-collapse__button{
	text-align: left;
	border-radius: 0px;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	border-top-width: 0 !important;
	border-bottom-color: #e9e9e9  !important;
	padding-left: 0;
	font-size: 20px;

}

@media only screen and (max-width: 768px){
	
	
.o-btn--outline.o-btn--secundary.o-btn--icon {
    font-size: 20px;
}	
	
}



.pestanas .o-icon{
	float: right;
}

.pestanas .o-collapse__content.is-active
{
	overflow: hidden;
/*	border-bottom-color: #cccccc !important;
	border-bottom-style: solid;
	border-bottom-width: 1px;*/

}


.pestanas  .o-collapse__content.is-active {
  
    max-height: 9000px;
	-webkit-transition: max-height 0.9s ease-in !important;
	-moz-transition: max-height 0.9s ease-in !important;
	transition: max-height 0.9s ease-in !important;
	
	-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.pestanas .o-collapse__content{
	

	
	-webkit-transition: max-height 0.3s ease-in-out !important;
	-moz-transition: max-height 0.3s ease-in-out !important;
	transition: max-height 0.3s ease-in-out !important;
	
	  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



       .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
  .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  } 




.pestanas .collapse_contenido{
	padding-top: 30px;
	padding-bottom: 30px; 
	
	
}

.pestanas .collapse_contenido h2{
	font-size: 18px;
	color: #6c6c6c !important;
	
	
	
}

.pestanas .collapse_contenido h3{
	font-size: 15px;
	color: #6c6c6c !important;
	margin-bottom: 17px !important;
	
}

.pestanas  .o-collapse__button.o-btn--secundary .u-triangle_down {
    border-top-color: #cccccc;
}

.pestanas  .o-btn--outline.o-btn--secundary:hover {
    background-color: transparent;
    color: #E8772A !important;

}
.pestanas a.o-collapse__button:hover .u-triangle_down {
    border-top-color: #E8772A !important;
}
.pestanas a.o-collapse__button:hover{
	border-bottom-color: #E8772A !important;
	
}
.pestanas a.o-collapse__button:focus{
	text-decoration: none !important;
	
}


.pestanas a.o-collapse__button.is-active{
	
	border-bottom-color: #E8772A !important;
	color: #E8772A !important;
}

.pestanas a.o-collapse__button.is-active .o-icon .u-triangle_down{
	
	 border-top-color: #E8772A !important;
	
}

.pestanas .pestanas_2{
	padding-left: 30px;
	
	
	
}

.pestanas .pestanas_2 a.o-collapse__button{
	    font-size: 17px;
	
	
	
}



section .o-box.o-box--quotation p{
	line-height: 20px;
	padding-bottom: 7px;

}

section .o-box.o-box--quotation ul {
	padding-left: 16px;

}


section .o-box.o-box--quotation ul li{
	padding-bottom: 7px;
	list-style: circle !important;
}
ul.numenos > li{
	padding-bottom: 7px;
	list-style: decimal!important;
}

ul.letras > li{
	padding-bottom: 7px;
	list-style: lower-alpha!important;
}



@media only screen and (min-width: 993px){
.columnas_dos{

	 -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 60px; /* Chrome, Safari, Opera */
    -moz-column-gap: 60px; /* Firefox */
    column-gap: 60px;


    
    -webkit-column-rule: 1px solid rgb(233, 233, 233)  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid rgb(233, 233, 233)  ; /* Firefox */
    column-rule: 1px solid rgb(233, 233, 233)  ;

}
	
	
	.columnas_tres{

	 -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;


    
    -webkit-column-rule: 1px solid rgb(233, 233, 233)  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid rgb(233, 233, 233)  ; /* Firefox */
    column-rule: 1px solid rgb(233, 233, 233)  ;

}
	
	
	
}

/*MAPA DE CONTENIDOS*/

.contenedor-horizontal {
    background-color: #f5f5f5;
    padding: 15px 0;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
	    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
}

@media only screen and (min-width: 993px){

.contenedor-horizontal .form-control {
    border-color: #cecece;
    border-radius: 0;
    box-shadow: none;
    color: #626262;
    font-size: 12px;
    padding-left: 1px;
}
.contenedor-horizontal .form-group {
    margin-bottom: 0px;
}


}
.separacion-hor {
    height: 25px;
    width: 100%;
	clear: both;
}



#sucursal{
	padding-top: 20px; 
	
	
}
#sucursal .epigrafe{
	font-size: 16px;
	margin-bottom: 0;

}

#sucursal h2{
	font-size: 40px;
    color: #019ee3;

}
#sucursal .direccion h3{
	font-size: 20px;
    color: #019ee3;

}
#sucursal .direccion p{
	font-size: 15px;
    color: #019ee3;

}
#sucursal .horario p{
	font-size: 13px;
	padding-bottom: 0px;
	margin-bottom: 0;

}
.horario {
    border-top-color: #cccccc;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 20px;
}
.polizas{
	margin-left: 0;
	margin-right: 0;
	
	
}

.polizas > a{
	padding: 0;

}

.polizas > a:nth-child(odd){

	    background-color: #fff;
	
	
}

.polizas > a:nth-child(even){

	background-color: #fff;
	
	
}



.polizas a{

	display: block;
	padding: 15px;
	

}
.polizas a h3 {
	border-bottom-width: 1px;
    border-bottom-color: #e4e3e3;
    border-bottom-style: solid;
    margin-bottom: 13px;
    padding-bottom: 8px;
	color: #676767;
	
}
.polizas a:hover{
	text-decoration: none !important;
	background: #f6f6fb;
    color: #666666;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.polizas a:hover h3,
.polizas a:hover p
{
	text-decoration: none !important;
	
	
}
.polizas a i.fa{
	

	visibility: hidden;
	    -ms-transform: rotate(124deg); /* IE 9 */
    -webkit-transform: rotate(124deg); /* Safari */
    transform: rotate(124deg);
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.polizas a:hover i.fa{
	
	    -ms-transform: rotate(124deg); /* IE 9 */
    -webkit-transform: rotate(124deg); /* Safari */
    transform: rotate(124deg);
	position: absolute;
	bottom: 10px;
	right: 10px;
	visibility: visible;
	    color: #019ee3;
	
}
.nota{
	padding: 20px;
	padding-bottom: 0;
	border-color: #e5e5e5;
	border-width: 2px;
	border-style: dashed;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fffcfc;
}

/*-----------------------------------*/

.dest_fono_cliente{
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;

}

@media only screen and (min-width: 993px){
	
	
	.dest_fono_cliente .dest_num{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	 .dest_fono_cliente .dest_num .fa{
		font-size: 90px;
		color: #cecaca;
		margin-right: 20px;
	}
	
}
@media only screen and (max-width: 993px){
	
	
	.dest_fono_cliente .dest_num{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	 .dest_fono_cliente .dest_num .fa{
		font-size: 90px;
		color: #cecaca;
		margin-right: 20px;
	}
	
}


.dest_fono_cliente .dest_num h2{
	font-size: 20px;
    color: #aba6a6;
	font-weight: 100;
}



.dest_fono_cliente .dest_num p{
	font-size: 40px;
	line-height: 43px !important;
	color: #aba6a6;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.dest_fono_cliente .dest_num p a{
	font-size: 40px;
	line-height: 43px !important;
	color: #aba6a6;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.dest_fono_cliente .dest_num p a:hover{
	text-decoration: none;
}



@media only screen and (min-width: 993px){
	.dest_fono_cliente .linea_der{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e5e5e5;

	}
	
	
}

@media only screen and (max-width: 993px){
	.dest_fono_cliente .linea_der{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e5e5e5;

	}
	
	
	
	.dest_fono_cliente .dest_num h2{
	font-size: 16px;
    color: #666666;
	font-weight: 100;
	}

	.dest_fono_cliente .dest_num p{
		font-size: 30px;
		line-height: 43px !important;
		color: #aba6a6;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	
}

@media only screen and (min-width: 993px){
	
	.dest_contacto .fa{
	font-size: 190px !important;
	}
	
}
@media only screen and (max-width: 993px){
	
	.dest_contacto .fa{
	font-size: 170px !important;
	}
	
	.dest_contacto .txt p{
	font-size: 27px !important;
		line-height: 27px;
	}
	
}

.centrar_elemento{
	display: flex;
	justify-content: center;
	
	
	
}

.txt_destacdo{
	padding: 30px;
	background-color: #f9f9f9;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e5e5;

}
.txt_destacdo p:last-child{
	padding-bottom: 0;
	
	
}

/*-----------------------------------*/

/* BANNER HOME */

.caja_banner {
	background-color:rgba(0,0,0,.6);
	padding:15px;
	width:60%;
}

.slider_bck {
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider_bck:after {
	overflow: hidden;
	width: 100%;
	height: 100px;
	z-index: -1;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

@media only screen and (min-width: 993px) {

.banner_interno {
	background-color:rgba(0,0,0,.6);
	padding:15px;
	width:60%;
}

.banner_interno .o-advertising__text--big {
	width:100%;
}

}

@media only screen and (min-width: 0px) and (max-width: 740px) {

.slider .o-advertising {
	height:400px;
}

.slider .o-advertising .u-center {
	padding:0px;
}

.slider .o-advertising .u-center {
	top:150px;
	transform:translateY(0px);
	-webkit-transform:translateY(0px);
}

.caja_banner {
	width:100%;
	padding-left:30px;
	padding-right:30px;
	background-color:rgba(0,0,0,.05);
}

.caja_banner h1 {
	font-size:26px;
	line-height:29px;
	color:#666666;
}

.caja_banner h3 {
	font-size:10px;
	color:#FFF;
}

.caja_banner p {
	font-size:14px;
	color:#666666;
}

.caja_banner small {
	color:#666666;
}

.caja_banner .o-advertising__btn {
	border:none;
	background-color: #FB802F;
    color: #FFF;
    font-weight: 500;
}

.caja_banner .o-advertising__link {
	color:#019EE3;
}

.u-line {
	border-top:1px solid #666;
}

o-advertising__actions {
	padding-top:10px !important;
}

.slick-track {
	height:400px;
}

.slick-track .slider_bck {
	height:150px !important;
}

.o-advertising__actions .o-advertising__btn {
	padding:10px;
}


}

/* FIN BANNER HOME */


/*--------Seccion Cotizador------*/

form{
	width: 100%;
	
	
}
