A:link       { TEXT-DECORATION: none }
A:visited    { TEXT-DECORATION: none }
A:active     { TEXT-DECORATION: none }
A:hover      { TEXT-DECORATION: none }
body         { font-family: Arial, Helvetica, sans-serif;  font-size: 10px; }
body.foot    { font-family: Arial, Helvetica, sans-serif;  font-size: 8px; }
h1           { font-family: Arial, Helvetica, sans-serif;  font-size: 20px; font-weight: bold; color: #000000; }
h2           { font-family: Arial, Helvetica, sans-serif;  font-size: 12px; font-weight: bold; color: #65bce9; }
h3           { font-family: Arial, Helvetica, sans-serif;  font-size: 12px; font-weight: bold; }
h4           { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; font-weight: bold; color: #FF0000; }
h5           { font-family: Arial, Helvetica, sans-serif;  font-size: 12px; font-weight: bold; color: #FF0000; }
h6           { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; font-weight: bold; }
td           { FONT-FAMILY: Arial Narrow; FONT-SIZE: 17px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none; TEXT-ALIGN: Justify }
th           { background-color: #6b9fda; COLOR: #ffffff; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none }
p            { FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none; TEXT-ALIGN: Justify }
p.big        { font-family: Arial, Helvetica, sans-serif;  font-size: 16px; }
td.strong    { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; font-weight: bold; }
td.light     { font-family: Arial, Helvetica, sans-serif;  font-size: 8px; }
td.lightbold { font-family: Arial, Helvetica, sans-serif;  font-size: 8px; font-weight: bold; }
td.big       { font-family: Arial, Helvetica, sans-serif;  font-size: 16px; }
a            { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; }
input        { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; }
button       { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; }
select       { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; }
textarea     { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; }
strong       { font-family: Arial, Helvetica, sans-serif;  font-size: 10px; font-weight: bold; }
.strong2     { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; font-weight: bold; }
.strong3     { font-family: Arial, Helvetica, sans-serif;  font-size: 11px; font-weight: bold; color: #FF0000; }
.error       { font-family: Arial, Helvetica, sans-serif;  font-size: 12px; font-weight: bold; color: #FF0000; }

/*
.titulo1     { COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 2 ; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none ; TEXT-ALIGN: center}
.titulo2     { COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11 px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none ; TEXT-ALIGN: center }
.subtitulo1  { COLOR: #000066; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10 px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none }
*/

.titulo1  {
	FONT: 17 Arial Narrow; font-weight:bold; TEXT-DECORATION: none; TEXT-ALIGN: center
}

.titulo2  {
	FONT: 17 Arial Narrow; font-weight:bold; TEXT-DECORATION: none; TEXT-ALIGN: center
}

.subtitulo1  {
	FONT: 17 Arial Narrow; TEXT-DECORATION: none; TEXT-ALIGN: center
}
.Texto1  { COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif FONT-SIZE: 12 px; FONT-STYLE: normal; TEXT-DECORATION: none ;TEXT-ALIGN: justify}
.Texto2  { COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 12 px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none ;TEXT-ALIGN: justify}
.verd-gris-bold12 { COLOR: #333333; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none }
.verd-gris11 { COLOR: #333333; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none }
.verd-gris10 { COLOR: #666666; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none }
.titulo-menu { COLOR: #2678c0; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none }
.verd-bl11 { COLOR: #ffffff; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none }
.link-bot-az { COLOR: #1b5385; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none }
.boton { BACKGROUND-COLOR: #79abd9; BORDER-BOTTOM-COLOR: #3883c7; BORDER-LEFT-COLOR: #accbe8; BORDER-RIGHT-COLOR: #3883c7; BORDER-TOP-COLOR: #accbe8; COLOR: #ffffff; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none }
.cont-tabla { BACKGROUND-COLOR: #f3f8fc; COLOR: #333333; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none }
.cont-tabla-resalta { BACKGROUND-COLOR: #ffffff; COLOR: #333333; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none }
.link-cont-tabla { COLOR: #1b5385; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none }
.titulo-tabla { BACKGROUND-COLOR: #ff5900; COLOR: #ffffff; FONT-FAMILY:   Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none }
h1.SaltoDePagina { PAGE-BREAK-AFTER: always }
@page
        {
                size: landscape;
                margin: 2cm;
                font-size:36px;
        }

TABLE.cborde { 
	border-top: 1px solid #000000;border-left: 1px solid #000000;border-bottom: 1px solid #000000;border-right: 1px solid #000000;
}
.codigobarra  {
	FONT: 18px/2.5 IDAutomationHC39M; TEXT-DECORATION: none; TEXT-ALIGN: center
}
.codigobarra_2  {
	FONT: 18px/2.5 IDAutomationHC39M; TEXT-DECORATION: none; 
}