a {
	text-decoration:none;
}

#body_calugas {
	width: 100%;
	height: 535px;
	margin: 0;
	padding: 0;
	background: url(../img/fondo_calugas.jpg);
}

#contenido_calugas {
	width: 987px;
	height: 400px;
	display: block;
	margin: 0 auto;
	padding: 0;
}

#sep_contenido_calugas {
	width: 987px;
	height: 10px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

#caluga_contenido {
	width: 319px;
	height: 400px;
	margin: 0;
	padding: 0;
	float: left;
	background: url(../img/bck_calugas.png) no-repeat;
}

#sep_titulo {
	width: 319px;
	height: 40px;
	float: left;
	margin: 0;
	padding: 0;
}

#titulo_seguros {
	width: 239px;
	height: 24px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #019EE3;
	font-size: 18px;
	margin: 0 40px;
	border-bottom: 1px solid #e6e6e6;
}

#sep_imagen {
	width: 319px;
	height: 10px;
	float: left;
	margin: 0;
	padding: 0;
}

#imagen_calugas {
	width: 239px;
	height: 150px;
	float: left;
	margin: 0 40px;
}

#titulo_caluga {
	width: 239px;
	height: auto;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ee8600;
	font-size: 20px;
	margin: 0 40px 5px 40px;
	line-height: 24px;
}

#texto_caluga {
	width: 239px;
	height: 84px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 12px;
	margin: 5px 40px 10px 40px;
	line-height: 20px;
}

#btn_calugas_vermas {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_vermas_off.jpg) no-repeat;
	margin-left:9px;
	margin-right:55px;
}

a #btn_calugas_vermas {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_vermas_off.jpg) no-repeat;
}

a:hover #btn_calugas_vermas {
	background: url(../img/btn_vermas_on.jpg) no-repeat;
}

#btn_calugas_cotizar_1 {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_vermas_cotizar_off.jpg) no-repeat;
	margin-left:109px;
	margin-right:109px;
}

a #btn_calugas_cotizar_1 {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_vermas_cotizar_off.jpg) no-repeat;
}

a:hover #btn_calugas_cotizar_1 {
	background: url(../img/btn_vermas_cotizar_on.jpg) no-repeat;
}

#btn_calugas_cotizar {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_vermas_cotizar_off.jpg) no-repeat;
	margin-left:55px;
}

a #btn_calugas_cotizar {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_vermas_cotizar_off.jpg) no-repeat;
}

a:hover #btn_calugas_cotizar {
	background: url(../img/btn_vermas_cotizar_on.jpg) no-repeat;
}

/* #btn_calugas_vermas {
	width: 100px;
	height: 25px;
	display: block;
	position: relative;
	background: url(../img/btn_vermas_off.jpg) no-repeat;
	margin: 340px 109px 0 109px;
}

a #btn_calugas_vermas {
	width: 100px;
	height: 25px;
	display: block;
	position: relative;
	background: url(../img/btn_vermas_off.jpg) no-repeat;
}

a:hover #btn_calugas_vermas {
	background: url(../img/btn_vermas_on.jpg) no-repeat;
} */

/* CALUGAS ROTATIVAS */
#calugas_rotativas_contenido {
	width: 987px;
	height: 400px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.slider {
	position: relative;
	width: 987px;
	margin: auto;
}

ul {
margin: 0;
padding: 0;
}

ul li {
list-style: none;
text-align: left;
}

.slider-arrow {
position: absolute;
top: 170px;
width: 15px;
height: 30px;
color: #fff;
text-align: center;
text-decoration: none;
border-radius: 50%;
z-index:999;
}

.sa-left {
left: 0;
background:url(../img/arrow_right.png) no-repeat;
}

.sa-right {
right: 0;
background:url(../img/arrow_left.png) no-repeat;
}

#sep_caluga_left {
	width: 5px;
	height: 400px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#contenido_info {
	width: 319px;
	height: 255px;
	display: block;
	float: left;
}
/* FIN CALUGAS ROTATIVAS */

/* SEGURO INFORMA */
#contenido_te_informa {
	width: 987px;
	height: 110px;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	border-top: #ccc 1px solid;
}

#seguros_te_informa {
	width: 739px;
	height: 110px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border-right: #ccc 1px solid;
}

#seginfo_titulo {
	width: 739px;
	height: 40px;
	display: block;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #019EE3;
	margin: 0;
	padding-top: 5px;
	float: left;
}

#seginfo_texto_n1 a {
	width: 339px;
	height: 60px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	padding-right:25px;
	float: left;
	line-height: 18px;
	border-right: #ccc 1px solid;
	text-decoration:none;
}

#seginfo_texto_n2 a {
	width: 340px;
	height: 60px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
	padding-left: 25px;
	float: left;
	line-height: 18px;
	text-decoration:none;
}

#seginfo_texto_n1 a:hover {
	color: #666666;
}

#seginfo_texto_n2 a:hover {
	color: #666666;
}

/* FIN SEGURO INFORMA */

#sombra_header {
	height: 9px;
    width: 100%;
    background: url(../img/sombra_header.png) repeat-x;
    z-index: 100;
    position: relative;
	margin-bottom:-9px;
	display: block;
    float: left;
}

#sombra_footer {
	height: 9px;
    width: 100%;
    background: url(../img/sombra_footer.png) repeat-x;
    z-index: 100;
    position: relative;
	margin-top:-9px;
}

/* NEWSLETTER */
#newsletter_te_informa {
	width: 207px;
	height: 110px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 0 0 20px;
}

#titulo_newsletter {
	width: 200px;
	height: 20px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	color: #019EE3;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#txt_newsletter {
	width: 200px;
	height: 35px;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	font-size: 12px;
	margin: 0;
	padding: 0;
	line-height: 17px;
}

#btn_newsletter {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_enviar_off.jpg) no-repeat;
	margin-top:1px;
}

#btn_newsletter a {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_enviar_off.jpg) no-repeat;
}

#btn_newsletter a:hover {
	background: url(../img/btn_enviar_on.jpg) no-repeat;
}

#email_newsletter {
	width: 200px;
	height: 27px;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

#campo_newsletter {
	width: 180px;
	padding: 0;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 20px;
	color: #999;
	float: left;
}
