.body_contenido_home {
	padding: 0;
	margin: 0;
	background-color: #f8f8f6;
	background:url(../img/banner/banner_home_seguros.jpg) no-repeat;
	background-position:top center;
}

.flotante {
	position: fixed;
	top: 250px;
	width: 60px;
	left: 0px;
	height: 180px;
	z-index: 999999;
}

#contenido_home {
	width: 987px;
	height: 317px;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

#registro_banner {
	width: 987px;
	height: 317px;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

/* REGISTRO */
#registro_body {
	width: 260px;
	height: 317px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#usuario_contenido {
	width: 260px;
	height: 317px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	background: url(../img/fondo_usuario.png) no-repeat;
}

.usuario_titulo {
	width: 260px;
	height: 24px;
	display: block;
	margin: 15px 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

.usuario_nombre {
	width: 260px;
	height: 17px;
	display: block;
	float: left;
	margin-bottom: 15px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #019EE3;
	font-size: 16px;
}

.usuario_rc {
	width: 260px;
	height: 17px;
	display: block;
	float: left;
	margin-bottom: 5px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #7C7C7D;
	font-size: 14px;
}

.usuario_rc a {
	width: 282px;
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
}

.usuario_rc a:hover {
	color: #CCCCCC;
}

.cerrar_rc {
	width: 260px;
	height: 17px;
	display: block;
	float: left;
	margin-bottom: 5px;
	margin-top:15px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #7C7C7D;
	font-size: 12px;
}

.cerrar_rc a {
	width: 282px;
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 12px;
}

.cerrar_rc a:hover {
	text-decoration:underline;
}

#registro_contenido {
	width: 260px;
	height: 317px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	background: url(../img/fondo_registro.png) no-repeat;
}

.rc_titulo {
	width: 260px;
	height: 24px;
	display: block;
	margin: 15px 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}

.rc_categoria {
	width: 80px;
	height: 20px;
	display: block;
	margin: 0 0 5px 0;
	padding: 2px 10px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	font-size: 12px;
	color: #FFFFFF;
	float: left;
}

.rc_box {
	width: 110px;
	height: 25px;
	display: block;
	margin: 0 5px 5px 0;
	padding: 0;
	float: left;
}

.btn_rc {
	width: 260px;
	height: 50px;
	display: block;
	float: left;
}

.btn_rc a {
	width: 130px;
	height: 50px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 65px;
}

.txt_rc {
	width: 260px;
	height: 17px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #7C7C7D;
	font-size: 11px;
}

.txt_rc a {
	width: 282px;
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 11px;
}

.txt_rc a:hover {
	color: #CCCCCC;
}

.txt_rc_inv {
	width: 190px;
	height: 17px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #7C7C7D;
	font-size: 11px;
}

.txt_rc_inv a {
	width: 282px;
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	color: #400040;
	font-size: 11px;
}

.txt_rc_inv a:hover {
	color: #0080ff;
}


.rc_sep {
	width: 250px;
	height: 10px;
	display: block;
	float: left;
	margin: 0 16px 16px 16px;
	padding: 0;
	border-bottom:#999 dashed 1px;
}

.rc_tarjeta {
	width: 80px;
	height: 55px;
	display: block;
	float: left;
	margin: 0 0 0 25px;
	padding: 0;
}

.rc_tarjeta_info {
	width: 162px;
	height: 50px;
	display: block;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #999999;
	font-size: 12px;
	margin: 0;
	padding: 5px 0 0 0;
}

.campobligatorio_body {
	width: 260px;
	height: auto;
	display: block;
	float: left;
}

.rc_campobligatorio {
	width: 260px;
	height: auto;
	display: block;
	float: left;
	margin: 0;
	padding-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ee8600;
	font-size: 12px;
	/*text-align: center;*/
}

#registro_sep {
	width: 277px;
	height: 317px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

#banner_contenido {
	width:674px;
	height:317px;
	display:block;
	float:left;
	margin:0;
	padding:0;
	background-color:#CCC;
}


#cotiza_sep {
	width: 987px;
	height: 20px;
	display: block;
	float: left;
	padding: 0;
	background-image: url(../img/line_sep.jpg);
}

#cotiza_sep_2 {
	width: 697px;
	height: 24px;
	display: block;
	float: left;
	margin-top: 18px;
	padding: 0;
	background-image: url(../img/line_sep_2.jpg);
}

/* COTIZA */
#cotizador_contenido {
	width: 450px;
	height: 317px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}



#cot_contenido_sep {
	width: 450px;
	height: 29px;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}

#cot_contenido_titulo {
	width: 450px;
	height: 84px;
	display: block;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 21px;
	line-height: 40px;
	color: #666;
	margin: 0;
	padding: 0;
	float: left;
}

#cot_contenido_frase {
	width: 450px;
	height: auto;
	display: block;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-size: 21px;
	line-height: 24px;
	color: #666;
	margin: 0 0 20px 0;
	padding: 0;
	float: left;
}

#tu_seguro {
	width:250px;
	height:40px;
	float:left;
	display:block;
	margin:0 10px;
	padding:0;
}

#tu_producto {
	width: 250px;
	height: 45px;
	float: left;
	display: block;
	margin: 0 10px;
	padding: 0;
}

.con_estilos {
   width: 240px;
   padding: 0;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 30px;
   margin-top:7px;
   color:#999;
}

#btn_cotizar_home {
	width: 110px;
	height: 45px;
	float: left;
	display: block;
	margin: 0 0 0 128px;
	padding: 0;
	background:url(../img/boton_cotizar.png) no-repeat;
}

#btn_cotizar_home a {
	width: 110px;
	height: 45px;
	float: left;
	display: block;
	padding: 0;
	background:url(../img/boton_cotizar.png) no-repeat;
}

#btn_cotizar_home a:hover {
	background:url(../img/boton_cotizar_over.png) no-repeat;
}


#cotiza_sep_empresas {
    width: 90px;
    height: 40px;
    float: left;
    display: block;
}

#cot_seguros {
	width: 290px;
	height: 24px;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	color: #999;
	font-size: 14px;
	margin-top: 18px;
	padding: 0;
	line-height: 19px;
}

#cot_seguros_sep {
	width:90px;
	height:40px;
	display:block;
	float:left;
	padding:0;
	margin:0;
	background:url(../img/seguros/sep_seguros.png) no-repeat;
}

.body_contenido_empresas {
	display:block;
	float:left;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color:#F5F5F5;
}

#contenido_empresas {
	width: 987px;
	height: auto;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0;
}

#cot_seguros_empresas {
	height:40px;
	display:block;
	float:left;
	padding:0;
	margin:0;
}

#cotiza_sep_empresas_b {
	width: 260px;
	height: 40px;
	float: left;
	display: block;
}

#btn_calugas_verbases {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_verbases_off.jpg) no-repeat;
	margin-left:9px;
	margin-right:55px;
}

a #btn_calugas_verbases {
	width: 100px;
	height: 25px;
	display: block;
	float:left;
	background: url(../img/btn_verbases_off.jpg) no-repeat;
}

a:hover #btn_calugas_verbases {
	background: url(../img/btn_verbases_on.jpg) no-repeat;
}