
#container {
	width:70px;

}

#topnav a.menu-open {
	outline: none;
}

#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:190px;
}

#signin_menu {
	display: none;
	position: absolute;
	width: 240px;
	z-index: 99999999;
	border: 1px transparent;
	text-align: left;
	top: 35px;
	left: -95px;
	color: #999;
	font-size: 12px;
	margin-left:10px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	width:203px;
}
#signin_menu p {
	margin:0;
}
#signin_menu a {
	color: #019EE3;
}
#signin_menu label {
	font-weight:normal;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999;
}
#signin_submit {
	width:70px;
	height:24px;
	display:block;
	float:left;
	margin:0 5px 10px 0;
	background:url(../img/btn_ing.jpg) no-repeat;
}

#signin_submit a {
	width:70px;
	height:24px;
	display:block;
	float:left;
	margin:0 5px 10px 0;
	background:url(../img/btn_ing.jpg) no-repeat;
}
