@media only screen and (min-width:0px) and (max-width:760px) {
	
#intro_autoplay {
	margin-top:60px;
}

#contenido_autoplay {
	width:100%;
	height:auto;
}

.col_2_autoplay {
	width:100%;
	height:auto;
}
.col_4_autoplay {
	width:100%;
	height:auto;
}
.titulo_autoplay, .bajada_autoplay {
	text-align:center;
}

.titulo_autoplay img {
	margin-left:auto;
	margin-right:auto;
}

.bajada_autoplay, .app_autoplay {
	margin-left:15px;
	margin-right:15px;
}

.col_2_autoplay img {
	margin-top:10px;
}

.app_autoplay img {
	margin-right:0;
}

.col_2_autoplay .retail {
	width: auto !important;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.col_2_autoplay .cell_img {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

	.col_4_autoplay .retail {
	width: auto !important;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.col_4_autoplay .cell_img {
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.none {
	display:none;
}

.text_centro {
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

.text_centro p {
	font-size:18px;
	margin-top:15px;
	margin-bottom:20px;
}

#centro_autoplay .tit_centro {
	text-align:center;
}

.info_icono {
	margin-right:15px;
}

.center {
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}

}

@media only screen and (max-width:480px) {
	
.app_autoplay img {
	width:50% !important;
	height:auto;
}

.cel_desk {
	display:none;
}

.col_2_autoplay .retail {
	width: 100% !important;
}
.col_4_autoplay .retail {
	width: 100% !important;
}

}

@media only screen and (min-width:481px) {

.cel_desk_resp {
	display:none !important;
}

}