#img a {
	border: none;
}

.new_banner_home {
	width: 678px;
	height: 394px;
	display: block;
	float: left;
	position: absolute;
	margin: 0;
	padding: 0;
}

.new_img {
	display:block;
	float:left;
	position:relative;
	margin:0;
	padding:0;
	background-color:#ee8600;
	top:0;
	left:0;
}

.new_img_01 {
	width: 339px;
	height: 394px;
}