
/* CUSTOMIZE THE CAROUSEL -------------------------------------------------- */

.carousel {
  margin-bottom: 60px;
}
.carousel-control {
  top: 0px;
}
.carousel-caption {
  z-index: 10;
}
carousel-caption h2{
	
}
.carousel .item {
  height: 500px;
  background-color:#bbb;
  overflow:hidden;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
#searchForm {
  position:absolute;
  top:40%;
}
.fade-carousel {
    position: relative;
    height: 55vh;
    margin-top: -135px;;
	max-height: 368px;
	overflow: hidden;
}
.frm-wrapper { 
    position: relative;
    display: inline-block;
    min-width: 23%;
    top:170px;
    left: 40px;
	width:320px;
	z-index:999;
}
.frm-wrapper .panel{
	padding-bottom:20px;
}
.carousel-caption {
  z-index: 10;
  top: 15px;
}
.fade-carousel p {
    font-size: 16px;
    text-align: right;
	/*height: 65px;*/
    overflow: hidden;
}
.carousel-caption p {
    /* margin-bottom: 20px; */ 
    font-size: 16px;
    line-height: 1.4;
}
.fade-carousel {
    position: relative;
    height: 52vh;
    margin-top: -141px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (orientation: portrait) {
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 768px) {
.frm-wrapper { 
    position: absolute;
    display: inline-block;
    min-width: 100%;
    top: 61px;
	background-color: #ececec;
	left:inherit;
}
.carousel {
  margin-bottom: 10px;
/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: 60px;
}
.carousel-control{
  width:30%;
}
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 40vh;
}
.fade-carousel .carousel-inner .item {
    height: 40vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 50vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-color: #fff; 
}
.fade-carousel .slides .slide-2 {
  background-image: url(http://dreamatico.com/data_images/car/car-3.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(http://www.cityscapeinsurance.com/wp-content/uploads/2015/06/Cute-Furry-Kids.jpg);
}
.carousel-caption {
  top:0%;
}
/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.4;
}
.carousel-caption h1 {
    margin-bottom: 3px;
    font-size: 22px;
}
}

@media only screen and (min-width : 768px) {

.fade-carousel {
    position: relative;
    height: 50vh;
    margin-top: 343px;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}

/* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
/* Navbar positioning foo */
.navbar-wrapper {
  margin-top: 20px;
}
/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
  border-radius: 4px;
}
/* Bump up size of carousel content */
.carousel-caption p {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.4;
}
.featurette-heading {
  font-size: 50px;
}
.carousel-caption {
  top:0%;
}
.fade-carousel h1 {
    font-size: 40px;
    text-align: center;
}
.fade-carousel p {
    font-size: 24px;
    text-align: center;
}
}

@media only screen and (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }



.carousel-caption {
  top:18%;
}
}


@media only screen and (min-width: 1200px) {
}
} /* End Portrait view */

/*-----------------------------------------------------*/
@media only screen and (orientation: landscape) {

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 768px) {

.carousel {
    margin-bottom: 10px;
    margin-top: 317px;
}
.carousel-control{
    width:30%;
}
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 85vh;
}
.fade-carousel .carousel-inner .item {
    height: 85vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
    background-image: ; 
}
.fade-carousel .slides .slide-2 {
    background-image: url(http://dreamatico.com/data_images/car/car-3.jpg);
}
.fade-carousel .slides .slide-3 {
    background-image: url(http://www.cityscapeinsurance.com/wp-content/uploads/2015/06/Cute-Furry-Kids.jpg);
}
.carousel-caption {
    top:0%;
}

/* Bump up size of carousel content */
.carousel-caption p {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.4;
}
.carousel-caption h1 {
    margin-bottom: 3px;
    font-size: 22px;
}
}

@media only screen and (min-width : 768px) {

.fade-carousel {
    position: relative;
    height: 80vh;
    /*margin-top: 100vh;*/
}
.fade-carousel .carousel-inner .item {
    height: 80vh;
}
/* Remve the edge padding needed for mobile */
.marketing {
    padding-left: 0;
    padding-right: 0;
}
/* Navbar positioning foo */
.navbar-wrapper {
    margin-top: 20px;
}
/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
    border-radius: 4px;
}
/* Bump up size of carousel content */
/*.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}*/
.featurette-heading {
    font-size: 50px;
}
/*.carousel-caption {
    top:0%;
}*/
.fade-carousel h1 {
    font-size: 20px;
    text-align: center;
}


}

@media only screen and (min-width: 992px) {
.featurette-heading {
    margin-top: 120px;
}
.carousel {
  margin-bottom: 0px;
}
.fade-carousel .carousel-inner .item {
    height: 50vh;
}
/* Remve the edge padding needed for mobile */
.marketing {
    padding-left: 0;
    padding-right: 0;
}
/* Navbar positioning foo */
.navbar-wrapper {
    margin-top: 20px;
}
/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
    border-radius: 4px;
}
/* Bump up size of carousel content */

.featurette-heading {
    font-size: 50px;
}
/*.carousel-caption {
    top:0%;
}*/
.fade-carousel h1 {
    font-size: 20px;
    text-align: center;
}

}

@media only screen and (min-width: 1200px) {
  /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: none;
}

/********************************/
/*       Fade Bs-carousel       */
/********************************/

.fade-carousel .carousel-inner .item {
    height: 55vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #fb7f03;
    border-color: #D26B04;
    opacity: .7;
	width: 15px;
    height: 15px;
}
.fade-carousel .carousel-indicators > li.active {
  width: 15px;
  height: 15px;
  opacity: 1;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image:;
}

.fade-carousel .slides .slide-1 img {
  position: center center;
}
.fade-carousel .slides .slide-2 {
  background-image: url(http://dreamatico.com/data_images/car/car-3.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(http://www.cityscapeinsurance.com/wp-content/uploads/2015/06/Cute-Furry-Kids.jpg);
}

/* Since positioning the image, we need to help out the caption */



/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 500px;
  height:auto;
}

.carousel-control{
  width:10%;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

}
} /*End view Landscape*/


