

#cotizar {

	width: 281px;
	height: 120px;
	/* border: 1px solid red; */
	background-image:url('../images/imagenes/atajo_cotizador/fondo-comprar.png');  
	font-family: Arial, verdana;
	font-size: 15px;
	*margin-top: -11px;



}

#cotizaTu {

	
	width: 200px;
	height: 30px;
	position:relative;
	left: 24px;
	top: 19px;
	/* border: 1px solid red; */
	font-family: Arial, verdana;
	font-size: 20px;
	
	
	
}

#cotizaTu a {

	
	text-decoration: none;
	color: #6d7776;
}

/*

#combobox1 {

	width: 170px;
	text-align: right;
	border:none;
	height: 20px;
	font-family: Arial, verdana;
	font-size: 12px;
	border-right: none;
	background-color: #ecece9;
	background-image:url('../../imagenes/combobox1.png');  
	color: #444444;
	
}
	
*/



#cotizarColumna {

	text-align: center;
	width: 50px;
	height: 50px;
	position:relative;
	left: 199px;
	top: 13px;
	/* border: 1px solid red; */
	font-family: Arial, verdana;
	font-size: 20px;

}

#botonCotizar {

	background-color: transparent;
	background-image:url('../images/imagenes/atajo_cotizador/fondoBtnCotizarAzul.png');
	background-repeat: none;
	border: none;
	width: 70px;
	height: 64px;
	text-decoration: none;
	color: #fff;	
	margin-left: -2px;
	cursor: pointer;
	position:relative
	


}

#botonCotizar:hover {

	background-color: transparent;
	background-image:url('../images/imagenes/atajo_cotizador/fondoBtnCotizarAzulHover.png');
	background-repeat: none;
	border: none;
	width: 70px;
	height: 64px;
	text-decoration: none;
	color: #fff;	
	margin-left: -2px;
	cursor: pointer;
	position:relative
	


}

#posicionCotizar {
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: #fff;
	margin-top: 0px;
	cursor: pointer;
	width: 60px;
	height: 55px;
	/* border: 1px solid red; */
}

#datosSesion {

	width: 600px;
	height: 20px;
	position:absolute;
	left: 687px;
	top: 74px;
	z-index: 99;
	/* border: 1px solid red; */	
	color: #666;	
	font-family: Arial, verdana;	
	font-size: 10.5px;

}

#datosSesion  a{

	text-decoration: none;
	color: #999;
	

}

#datosSesion  a:hover{

	text-decoration: none;
	color: #42ABE1;

}

#obten_clave {

	margin-top: -4px;
	line-height: 0px;
	margin-left: 73px;
	font-size: 10px;

}





#obten_clave  a{

	text-decoration: none;
	color: #999;
	

}

#obten_clave  a:hover{

	text-decoration: none;
	color: #42ABE1;

}


