/* ESTILOS MENSAJE NEGOCIO COTIZADOR*/

.cont-alert {
	float: left;
	height: auto;
	width: 548px;
}

.alert .alert_ico{
	float:left;
	margin-top: 0;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-left: 15px;
} 

.alert .mensaje{
	float:left;
	width:340px;
	padding-top: 19px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
}

.alert{
	font-family:Arial, Helvetica, sans-serif;
	width:476px;
	background-color:#f4f2f2;
	color:#333333;
	font-size:13px;
	float:right;
	border:1px solid #e1e4dd;
	height: auto;
}
.cont-alert {
	float: left;
	height: auto;
	width: 548px;
}
.alert p {
	color: #666;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 130%;
	text-align: left;
	margin: 0 0 0;
	padding: 0;
}