
@font-face {
 font-family: GOTHIC;
 src: url("../fonts/GOTHIC.eot") /* EOT file for IE */
}
@font-face {
 font-family: GOTHIC;
 src: url("../fonts/GOTHIC.TTF") /* TTF file for CSS3 browsers */
}

/*==========  Non-Mobile First Method  ==========*/

.top0 { margin-top:0px; }
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top26 { margin-top:26px; }
.top30 { margin-top:30px; }

.bot10 { margin-bottom:10px;}
.bot15 { margin-bottom:15px;}
.bot30 { margin-bottom:30px;}
.carruselmargin{
margin-top: 0px;
}

.mostrarLoginPadding{
padding-top : 0px;
}


h1 {
	font-size: 30px;
	text-align: center;
}

h7, .h7 {font-size:16px;font-weight: 500;line-height:1.5;margin-top:0px;margin-bottom:10px;color: #666; text-transform: uppercase;}



h1, h2, h3, h4, h5, h6, h7{
	font-family: GOTHIC, Verdana, Arial, sans-serif;	
}
h4 {color:#f07d00; font-weight:bold;}
h3.inicio {margin:0}
h3.inicio a { text-decoration:none;}
.p0{
	padding-right: 0;
    padding-left: 0;
}
.m0 {
	margin-left:0 !important;
	margin-right:0 !important;
}
.pleft{
	padding-left: 0
}
.pright{
	padding-right: 0
}
.logo-seguros-cencosud {
	max-height: 70px;
}
.ghost-nav {
	height: 110px;
	width: 100%;
	position: relative;	
}
.contenedor-sitio{
	margin-top: 120px;
}

.center-captcha{
    text-align: -webkit-center;
}
.borde-der { border-right:1px solid #666;}
@media only screen and (max-width : 768px) {
	#rc-imageselect{ 
		transform:scale(0.82); 
		-webkit-transform:scale(0.82); 
		transform-origin:0 0; 
		-webkit-transform-origin:0 0;  
	}
	.center-captcha{
		transform: scale(0.8);
	}
	.icon-login{
		margin-top: 20px;
		margin-right: 5px;
	}
	.icon-call {
		margin: 10px;
	}
	.carruselmargin{
		margin-top: 60px;
	}

.mostrarLoginPadding{
padding-top : 100px;
}

	.contenedor-sitio{
		margin-top: 80px;
	}
	.contenedor-registrar{
		margin-top: 50px;
	}
	.ghost-nav {
	height: 50px;
	width: 100%;
	position: relative;	
}
.borde-der { 
	border-right:0 none;
	padding-bottom: 20px;
}
}
.breadcrumb {
    padding: 8px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
	font-size: 12px;
}
.zona-callcenter {
	padding: 0px 15px;
	color: #999999;
	border-left: 1px solid #666;
	height: 50px;
	width:215px;
}
.zona-callcenter img{
	float:left;
	padding: 10px 10px 0 0;
}
.zona-callcenter .numero{
	font-size:22px;
	font-weight:bold;
	position:relative;
	top:-5px;
}
.zona-callcenter .servicio{
	padding-top:4px;
}
.zona-callcenter .servicio p{
	margin:0;
}
.menu-secundario {
	background-color: #019EE3;
    height: 40px;
    margin-top: 80px;
}
.menu_secundario .navbar-nav ul {
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}


.bg-box-promo {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 0x;
}
.box1-promo {
	padding: 0;
	margin-top: 15px;
}
.box1-promo h2{
	font-size: 18px;
    font-weight: bold;
    text-align: center;
	color: #fb7f03;
	margin-top:0;
	line-height: 1.4;
	padding: 0 5px;
}
.box2-promo {
	/*background-image: url(https://images.blogthings.com/thecolorfulpatterntest/pattern-1.png); */
	background-color: #41BDFF;
	padding: 15px;
}
.box3-promo {
	/*background-image: url(https://images.blogthings.com/thecolorfulpatterntest/pattern-1.png); */
	background-color: #0E79B2;
	padding: 15px;
}
.box4-promo {
	/*background-image: url(https://images.blogthings.com/thecolorfulpatterntest/pattern-1.png); */
	background-color: #FFA128;
	padding: 15px;
}
.bg-box-informa {
	background-color: gray;
	margin-bottom: 20px;
	height: 250px;
}
.title-box-informa {
	font-size: 25px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.title-box-informa h2{
	color: #019EE3;
	margin-top: 10px;
	font-size: 26px;
}
.title-box-informa img{
	float:left;
}
.box3-informa {
	background-color: #28B4FF;
	height: 165px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.btn-promo {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	vertical-align: bottom;
}
.btn-promo:hover,
.btn-promo:focus,
.btn-promo.focus,
.btn-promo:active,
.btn-promo.active,
.open > .dropdown-toggle.btn-promo {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
.btn-preocupados-por-ti {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	vertical-align: bottom;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #fb7f03;
    background-position: 0 -15px;
}
.footer-seguros {
	background: -ms-linear-gradient(left,  #019ee3 0%,#019ee3 69%,#ededed 70%,#ededed 100%);
}
.footer-seguros li a {
	color: #fff;
}
.img-medio-pago {
	margin: 10px;
	float: left;
}
.logo-global-sign {
	text-align: right;
}
.copyright {
	background-color: #999;
	color: #fff;
	text-align: center;
	padding: 20px 0 20px 0;
}
#owl-demo .item{
	margin: 10px;
	color: #FFF;
	text-align: center;
	max-height:368px;
}
.customNavigation{
	text-align: center;
}
.customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Progress bar*/

.one, .two, .three{
    position:absolute;
	margin-top:-10px;
	z-index:1;
	height:40px;
	width:40px;
	border-radius:25px;
}
.one{
	left:25%;
}
.two{
	left:50%;
}
.three{
	left:75%;
}
.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}

/*Clases cotizador*/

.breadcrumb-custom {
  padding: 25px 15px 8px 15px;
  margin-bottom: 0px;
  list-style: none;
  background-color:transparent;
  border-radius: 4px;
  font-size:12px;
}

.titulo-cotizacion {
	font-size: 18px;
	font-weight: normal;
	margin: 12px 10px 22px 15px;
	color:#f07d00;
}

.bg-resumen {
	background-color: #eee;
	/*padding-bottom: 15px;*/
    margin-bottom: 15px;
}

.bg-resumen h4 {
	text-align: center;
	font-size: 15px;
	color:#fff;
	font-weight: bold;
	background-color: #009FE3;
	padding: 10px;
	margin-top: 0px;
}
.p-resumen {
	font-size: 14px;
	margin-top: 5px;
	
}
.p-resumen p{ color:#666;}
#collapseResumen .panel-body {
	background-color:transparent;
}
.help-block-login {
	font-size: 10px;
	margin-bottom:10px;
	color:#666;

}
.footer-seguros h4{
	color:#fff;
	font-weight:bold;
}
.footer-seguros li{
	list-style:none;
	margin-bottom:10px;
}
.bg-box-informa {
	background-color: #E2E2E2;
	margin-bottom: 20px;
	height: 100%;
	padding:20px 0;
}
@media only screen and (orientation: portrait) {
@media only screen and (max-width : 768px) {
.frm-wrapper p {
	font-size: 11px;
    text-align: center;
    margin-bottom: 0px;
}

.logo-seguros-cencosud {
	max-height: 50px;
	margin-top: -10px;
}
.navbar-brand {
	float: left;
	height: 60px;
	padding: none;
}
.carousel-control {
	top: 0%;
}
.margin-bottom-responsive {
	margin-bottom: 10px;
}
.bg-box-informa {
	background-color: #ededed;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 100%;
	padding-bottom: 20px;
}
.box1-informa {
	background-color: aqua;
	height: 75px;
	margin-bottom: 10px;
}
.box2-informa {
	background-color: purple;
	height: 75px;
	margin-bottom: 10px;
}
.box3-informa {
	background-color: bisque;
	height: 75px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-preocupados-por-ti {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	vertical-align: bottom;
}
.img-medio-pago {
	width: 40px;
	height: 24px;
	background-color: #B2AE13;
	margin: 5px 3px 5px 4px;
	float: left;
}
.footer-seguros {
	background: #019ee3;
}
.copyright {
	background-color: #999;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 10px 0 10px 0;
}
.logo-global-sign {
	text-align: center;
	padding: 10px 0 0 0px;
}
.margin-hamburger {
	margin: 9px 20px 0px 25px;
}	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)  {
.icon-call {
	font-size: 38px;
	float: right !important;
	margin: 13px 13px 0px 0;
}
.margin-hamburger {
	margin: 20px;
}	
.bg-box-informa {
	background-color: gray;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 100%;
	padding-bottom: 20px;
}
.footer-seguros {
	background-color: gray;
	height: 100%;
}
.img-medio-pago {
	width: 43px;
	height: 28px;
	background-color: #B2AE13;
	margin: 3px 7px 5px 6px;
	float: left;
}
.logo-global-sign {
	text-align: center;
}
.box1-informa {
	background-color: aqua;
	height: 70px;
	margin-bottom: 10px;
}
.box2-informa {
	background-color: purple;
	height: 70px;
	margin-bottom: 10px;
}
.box3-informa {
	background-color: bisque;
	height: 70px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.title-box-informa {
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px; 
}
.bg-box-promo {
	height: 150px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 15px;
}
.margin-bottom-responsive {
	margin-bottom: 20px;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200) {
}
}

/* End Orientation Portrait*/ 
/*-----------------------------------------------*/
@media only screen and (orientation: landscape) {
@media only screen and (max-width : 768px) {
				    	
.navbar {
	min-height: 80px;
}
.logo-seguros-cencosud {
	max-height: 50px;
	margin-top: -10px;
}
.navbar-brand {
	float: left;
	height: 60px;
	padding: none;
}
.carousel-control {
	top: 0%;
}
.margin-bottom-responsive {
	margin-bottom: 10px;
}
.bg-box-informa {
	background-color: gray;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 100%;
}
.box1-informa {
	background-color: aqua;
	height: 75px;
	margin-bottom: 10px;
}
.box2-informa {
	background-color: purple;
	height: 75px;
	margin-bottom: 10px;
}
.box3-informa {
	background-color: bisque;
	height: 75px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-preocupados-por-ti {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	vertical-align: bottom;
}
.img-medio-pago {
	width: 40px;
	height: 24px;
	background-color: #B2AE13;
	margin: 5px 3px 5px 4px;
	float: left;
}
.footer-seguros {
	background-color: gray;
	height: 100%;
}
.copyright {
	background-color: #3A677F;
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 10px 0 10px 0;
}
.logo-global-sign {
	text-align: center;
	padding: 10px 0 0 10px;
}
.margin-hamburger {
	margin: 9px 20px 0px 25px;
}	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)  {
.icon-call {
    font-size: 25px;
    float: right !important;
    margin: 13px 40px 0px 0;
}
.margin-hamburger {
	margin: 10px;
}
.logo-seguros-cencosud {
    /*max-height: 50px;*/	
}
.navbar{
	min-height: 80px;
}
.navbar-brand {
    float: left;
    height: 60px;
    padding: 9px 10px 0;
    font-size: 18px;
    line-height: 20px;
}

.footer-seguros {
	padding:0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#019ee3+0,019ee3+69,ededed+70,ededed+100 */
background: #019ee3; /* Old browsers */
background: -moz-linear-gradient(left,  #019ee3 0%, #019ee3 69%, #ededed 70%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#019ee3), color-stop(69%,#019ee3), color-stop(70%,#ededed), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #019ee3 0%,#019ee3 69%,#ededed 70%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #019ee3 0%,#019ee3 69%,#ededed 70%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #019ee3 0%,#019ee3 69%,#ededed 70%,#ededed 100%); /* IE10+ */
background: linear-gradient(to right,  #019ee3 0%,#019ee3 69%,#ededed 70%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#019ee3', endColorstr='#ededed',GradientType=1 ); /* IE6-9 */
}
.footer-seguros h4{
	color:#fff;
	font-weight:bold;
}
.footer-seguros ul, {
	padding: 0;
}

.img-medio-pago {
    margin: 10px;
    float: left;
}
.logo-global-sign {
	text-align: center;
}			    
.box1-informa {
	background-color: aqua;
	height: 70px;
	margin-bottom: 10px;
}
.box2-informa {
	background-color: purple;
	height: 70px;
	margin-bottom: 10px;
}
.box3-informa {
	background-color: bisque;
	height: 70px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.title-box-informa {
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px; 
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.bg-box-promo {
	height: 200px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
    overflow: hidden;
}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200) { 
}
}

/*HEADER*/

.navbar-default {
	background-image:none;
	box-shadow:none;
	border-color: transparent;
	background-color: #fff;
	min-height:80px;
}
.navbar-default .navbar-nav>li>a {
    color: #999;
	font-size:14px;
}
.navegacion-primary {
	z-index: 1031;
}
.menu-secundario .navbar-nav>li{
	padding: 0 27px;
}
.menu-secundario .navbar-nav>li>a {
    text-shadow:none;
	color:#fff;
	text-transform:uppercase;
	padding-top: 10px;
	font-size: 12px;
	padding-bottom:9px;
}
.menu-secundario .navbar-nav>li>a:hover, .menu-secundario .navbar-nav>li>a:focus {
	background-color:transparent;
}
.navbar-default .navbar-collapse {
	margin-top:12px;
}
.navbar-default .navbar-toggle {
	border: 0 none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #019EE3;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-toggle {
    margin-top: 15px;
    margin-right: 8px;
}
.navbar-default .navbar-nav>li>a.login {
	padding-top: 9px;
}
.navbar-default .navbar-nav>li>a.login>img {
	padding:0 6px;
}
.dropdown .caret {
    margin-top: 7px;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.menu-secundario .dropdown:hover .dropdown-menu {
    display: block;
}
	
/*BOTONES*/
.btn-primary {
	font-family: GOTHIC, Verdana, Arial, sans-serif;
	background-image:none;
	box-shadow:none;
	background-color:#019EE3;
	color:#fff;
	border: 0 none;
	border-radius: 0;
	font-size: 14px;
    text-shadow: none;
}

.btn-primary-extend {
	font-family: GOTHIC, Verdana, Arial, sans-serif;
	background-image:none;
	box-shadow:none;
	background-color:#019EE3;
	color:#fff;
	border: 0 none;
	border-radius: 0;
	font-size: 14px;
    text-shadow: none;
	width: 100%;
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
}

.btn-primary-extend:hover, .btn-primary:focus {
    background-color: #fb7f03;
    background-position: 0 -15px;
}

.btn-secundary {
	font-family: GOTHIC, Verdana, Arial, sans-serif;
	background-image:none;
	box-shadow:none;
	background-color: rgb(240, 125, 0);
	color:#fff;
	border: 0 none;
	border-radius: 0;
	font-size: 18px;
	text-shadow: none;
}

.btn-secundary:hover {
	background-color: #FF9C2B;
	color:#fff;
}

.boton-slider {
	background-color:#fb7f03;
}

/*PANEL*/
.panel{
	border-radius:0;
	border:0 none;
	background-color:#ececec;
}
.panel-heading {
    color: #fb7f03;
    background-color: transparent;
    border-color: #faebcc;
	border: 0 none;
	background-image:none;
}
.panel-body {
    padding: 19px;
    padding-top: 0;
	border: 0 none;
    background-color: #fff;
}
.frm-wrapper .panel-body {
	background-color: #eee;
    padding-bottom: 0;
}
.frm-wrapper h3{
	margin-top:0;
	margin-bottom:0;
}
.frm-wrapper span {
	font-weight:bold;
	font-size:26px;
}
h2.panel-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #fb7f03;
    margin-top: 0;
    line-height: 1.4;
    padding: 0 5px;
}
.panel-heading {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: 0 none;
}

/*SLIDER*/
@media only screen and (max-width : 768px) {
.full {
	padding: 0;
}
.carousel-caption h2 {
	color:#000;
	text-align:center;
}
.texto-slider {
	display:none;
}
.boton-slider {
	text-align:center;
}
}
@media screen and (min-width: 768px){
.carousel-caption {
    right: 5%;
    left: 20%;
    padding-bottom: 30px;
}
}
.carousel-caption h2{
	color: #019EE3;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
.carousel-caption p{
	text-shadow:none;
	font-family: GOTHIC, Verdana, Arial, sans-serif;
	color: #666;
	font-size:18px;
}

/*FORMULARIOS*/
.form-control {
	border-color: #cecece;
	border-radius:0;
	box-shadow:none;
	color: #626262;
	font-size: 12px;
	padding-left:1px;
}

/*PROMO*/
.promo {
	margin-bottom:50px;
}
.bg-box-promo {
	text-transform:uppercase;
	min-height: 250px;
	font-family: GOTHIC, Verdana, Arial, sans-serif;
	margin-bottom: 15px;
}
.box1-promo h2 {
	font-size:24px;
	font-weight:bold;
	padding-top: 15px;
}
.box1-promo span {
	font-weight:bold;
}

/*INFORMA*/
 a{
	color: #666;
}
.bg-box-informa span{
	color: #fb7f03;
	font-weight:bolder;
}

/*COMPAÑIA*/
.compania {
	padding-bottom: 20px;
	text-align: center;
}
.compania h4{
	color: #019EE3;
}

/*FOOTER*/
.footer-blog {
	background-color: #ededed;
	height: 310px;
	padding:15px 0;
}
.col-footer {
	padding:15px 0;
	background-color:#019EE3;
	height:310px;
}
.col-footer ul{
	padding-left:0;
}
.secure {
	padding: 16px;
}
.footer-seguros .panel-body {
    background-color:#019EE3;
}
.footer-seguros .panel-heading{
	background-image: none;
	background-color:#019EE3;
	color:#fff;
  	font-weight:bold;
}
.panel {
	box-shadow:none;
}
.panel-body ul{
	padding: 0;
}
.panel-body li{
	list-style:none;
	margin-bottom:10px;
}
.panel-title {
    font-weight: bold;
	margin-right: 26px;
}
.panel-group {
	margin-bottom:0;
}

/*MENU COLAPSADO*/
.collapse li{
	/*border-bottom: 1px solid #019EE3;*/
}
.collapse .navbar-default .navbar-nav>li>a {
    color: #019EE3;
    font-size: 14px;
}

/*VALE*/

.caja-banner{ padding:10px 0 10px 0;}
.img-exito-pago {
    width: 78px;
    height: 43px;
    background-color: #cccccc;
    margin: 5px 3px 5px 4px;
	float:left;
}

.centrar-texto{ text-align:center;}
.texto-chico-informativo{font-size:10px; color:#999;}
.texto-chico-informativo-osc{font-size:10px; color:#000;}
.texto-destacado{ font-size:18px; font-weight:bold;}
.contenedor-caja-registro{ background-color:#dedede; padding:15px; border-right:solid 1px #bababa;}
.contenedor-caja-registro p{ }
.contenedor-caja-registro h5{ }
.caja-margen-15{ margin:15px;}
.caja-margen-15-30{ margin:15px 30px 15px 30px;}
.caja-imagen-numero{ margin-right:15px;}
.caja-form-fondo1 { background-color:#f0f0f0; padding:20px;}
.caja-form-fondo2 { background-color:#e6e6e6; padding:20px 20px 14px 20px;}
.caja-form-fondo3 { background-color:#dedede; padding:10px 20px 20px 20px;}
.registro { background-color: #f0f0f0;}

.compara-caja1 { background-color:#c8c8c8; padding:10px 10px 10px 10px; height:112px;}
.compara-caja2 { background-color:#a3a3a3; padding:10px 10px 10px 10px; text-align:right;}
.compara-caja2 p{ color:#FFF;}
.precio { color:#fb7f03; font-size:30px; font-weight:bold;}
.compara-caja3 { background-color:#787878; padding:10px 10px 10px 30px;}
.compara-caja3 p{ color:#FFF;}
.compara-caja4 { background-color:#322d2a; padding:10px 10px 10px 10px;}
.compara-caja4 p{ color:#FFF;}

.espaciador{ width: 12px;
    height: 1px;
    float: left;}
	
.img-modo-pago {
    width: 78px;
    height: 43px;
    background-color: #adadad;
    margin: 0px 4px 20px 0px;
	float:left;
}	
.separacion-hor{ height: 25px;
    float: left;
    width: 100%;}

.bg-cuadro-texto {
	background-color: #D4D4D4;
	margin-bottom:10px;
}
.cuadro-textos-informativos{ padding:30px; background-color: #D4D4D4;
	margin-bottom:10px;}
.cuadro-textos-resumen{ padding:0px 20px 0px 20px;}	
.borde-lateral-derecho{ border-right:solid 1px #999999;}
.padding-inferior { padding-bottom:10px;}
.borde-inferior { border-bottom:solid 1px #999999;}
.caja-mi-perfil-1{ background:#009FE3; height:120px; border-right:solid 1px #FFF; text-align:center; padding-top:30px; float:left;}
.caja-mi-perfil-1b{ background:#009FE3; height:120px; border-right:solid 1px #FFF; text-align:center;  float:left;}
.caja-mi-perfil-1c{ background:#c8c8c8; height:90px; border-right:solid 1px #FFF; text-align:center;  float:left; padding-top:15px; padding-bottom:15px;}
.caja-mi-perfil-2b{ background:#dadada; height:120px; text-align:center;  float:left;}
.caja-mi-perfil-1 h5{ color:#717171; padding-top:30px;}
.caja-mi-perfil-1 h4{ color:#FFFFFF;}
.caja-mi-perfil-1b h4{ color:#FFFFFF;}
.caja-mi-perfil-2{ background:#c8c8c8; height:95px;}
.caja-mi-perfil-22{ background:#c8c8c8; height:120px;}
.caja-mi-perfil-22 img {padding-top:15px;}
.caja-mi-perfil-2-tit{ background:#009FE3;  color:#FFF; padding: 5px 5px 5px 5px; font-weight:bold;font-family: GOTHIC, Verdana, Arial, sans-serif;}
.caja-mi-perfil-2 h5{ background:#009FE3;  color:#FFF;}
.caja-mi-perfil-2 p{ text-align:right; font-size:12px;}
.caja-mi-perfil-2b{ background:#dadada; height:120px;  float:left; padding:10px; background-image:url(../img/flecha.png); background-repeat:no-repeat; background-position: 0 40px;}
.caja-mi-perfil-2b a{ color:#009FE3;}
.caja-mi-perfil-2b p{ text-align:right; font-size:12px;}
.caja-mi-perfil-2c{ background:#c8c8c8; height:120px;  float:left; padding:10px; background-image:url(../img/flecha2.png); background-repeat:no-repeat; background-position: 0 40px;}
.caja-mi-perfil-2c a{ color:#009FE3;}
.caja-mi-perfil-2c p{ text-align:right; font-size:12px; width: 177px; float: right;}
.caja-mi-perfil-2 a{ color:#009FE3;}
.caja-mi-perfil-3{ background:#dadada; height:120px; border-right:solid 1px #FFF;  float:left;}
.caja-mi-perfil-3-tit{ background:#009FE3;  color:#FFF; padding: 5px 5px 5px 5px; border-right:solid 1px #FFF;}
.caja-mi-perfil-3 h5{ background:#009FE3;  color:#FFF;}
.caja-mi-perfil-4{ height:80px; float:left; }
.caja-mi-perfil-4d{ height:40px; float:left; }
.caja-mi-perfil-4b{ height:95px; float:left; white-space: normal;}
.caja-mi-perfil-4c{ height:90px; float:left; }
.recuadro-destacado{ padding:10px 15px; background-color:#f6f6f6;}
@media only screen and (max-width : 768px) {
	.caja-mi-perfil-2, .caja-mi-perfil-2b{ height:inherit; background-image:none;}
	.caja-mi-perfil-2b p { text-align:center; margin:0;}
	.plan h3 {margin-top: 10px;}
	.caja-mi-perfil-2 {margin:0; padding:0 15px; text-align: center;}
	.caja-mi-perfil-2 h4 {color:#fff;font-size: 14px;}
	.caja-mi-perfil-4{ height:56px; float:left; }
	.plan .btn-primary{font-size:12px;}
	.cotiza {padding-left: 0; padding-right:0;}
	.caja-mi-perfil-4b{ height: inherit; float:left; }
}
.caja-cotiza-vehiculo-1{ background:#f2f2f2; padding-top:30px; height:100px;}
.caja-cotiza-vehiculo-1 h4{ color:#f07d00;}
.caja-cotiza-vehiculo-2{ background:#f9f9f9; padding-top:15px; height:100px;}
/*.caja-cotiza-vehiculo-2 p{ color:#FFF;}*/
.caja-cotiza-vehiculo-2 a{ color:#FFF; float:right;}
.caja-cotiza-vehiculo-3{ height:100px;}
.boton-cotizar {height:100px;}
.boton-cotizar2 {height:60px;}
.margen-isq{ margin-left:10px;}
.contenedor-horizontal{ background-color:#e7e7e7; padding:15px 0;}
.contenedor-lateral{background-color: #019EE3; padding:50px 15px 0px 15px; min-height:180px;}
@media only screen and (max-width : 768px) {
	.caja-cotiza-vehiculo-1{padding-top:0; height: inherit; text-align:center;}
	.caja-cotiza-vehiculo-2 {height:156px;}
	.caja-cotiza-vehiculo-3 {height:156px;}
	.boton-cotizar {height:156px;}
	.boton-cotizar2 {height:116px;}
}
/*clases para campos de formulario */
.margen-isq-form{ margin-left:-15px;}
.breadcrumb>.active {
    color: #009FE3;
}
label { color: #666666; /*margin-top: 13px;*/ font-family: verdana;
    font-size: 13px;}

/*clases para columnas de etiquetas de linea de avance */
.etiqueta-column1 { background-color: #b9b9b9; text-align:center; color:#FFF; font-family:GOTHIC, Verdana, Arial, sans-serif; font-weight:bold; padding: 15px;}
.etiqueta-column2 { background-color: #a1a1a1; text-align:center; color:#FFF; font-family:GOTHIC, Verdana, Arial, sans-serif; font-weight:bold; padding: 15px;}
.etiqueta-column3 { background-color: #858585; text-align:center; color:#FFF; font-family:GOTHIC, Verdana, Arial, sans-serif; font-weight:bold; padding: 15px;}
.progress-bar-info { height:15px; border-radius:0}
@media only screen and (max-width : 768px) {
	.etiqueta-column1, .etiqueta-column2, .etiqueta-column3 { font-size:12px; }
	.progress {margin-bottom:0}
	#ordenar-por {margin-top:10px;}
	.titulo-cotizacion {margin: 0px 10px 22px 15px;}
}

/* Bienvenido lateral */
.img-cliente {
	border-radius: 60px; 
	width:49px; 
	height:49px;}
.img-cliente2{ 
	border-radius: 18px;
    width: 35px;
    height: 35px;}
.nombre {
	position:relative;
	top:6px;
	color: #666;
}
.separacion-hor-cont-lateral{ 
	height: 5px;
    width: 100%;
    border-bottom: solid 1px #999;
    float: left;
    margin-bottom: 15px;
}
.separacion{ 
    width: 100%;
    border-bottom: solid 1px #999;
    float: left;
    margin-bottom: 3px;
}
.tarjetas{
	margin-top:3px;
}
.separacion-home{ 
	height: 5px;
    width: 100%;
    border-bottom: solid 1px #999;
    margin-bottom: 5px;
}
.contenedor-pasos-lateral{  float:left; width: 100%; }
.contenedor-pasos-lateral p{ font-size:12;margin-left: -42px; margin-top:10px;}
.img-iconos { margin-bottom:36px; margin-left: -16px;}	
.titulo-lateral-listado{ font-weight:bold; font-size:13px; margin-bottom: -1px;}
.pull-right { float:right;}	
.bg-lateral-on{ background-image:url(../img/bg-contenedor-lateral.jpg);}
.bg-lateral-off{ background-image:url(../img/bg-contenedor-lateral-off.jpg);}
.bg-lateral-off-plano{ background-color:#ececec;}
.separacion-hor2{ height: 1px;
    float: left;
    width: 100%;}
	
/*ACORDEON 1*/
.acordeon-tarjeta {font-weight:normal;list-style-type:none;}
.acordeon-tarjeta2 {font-weight:normal;list-style-type:none; padding-left:0;}
.acordeon-tarjeta ul{ }
.acordeon-tarjeta li{ background-image:url(../img/bullet.png); background-repeat:no-repeat; padding-left: 30px;}
.acordeon-tarjeta2 li{ background-image:url(../img/bullet.png); background-repeat:no-repeat; padding-left: 30px;}

/*ACORDEON SEGUROS CENCOSUD*/
.panel {
	background-color: #eee;
}
.panel-default>.panel-heading {
    color: #019ee3;
	/*background-color: #019ee3;
	background-image:url(../img/bk-acordion.png);*/
}
.panel-body {
    padding: 19px;
    padding-top: 0;
    border: 0 none;
    background-color: #fafafa;
}
/*.aui .acordeones .cruz-acordion {
    width: 25px;
    height: 25px;
    background-image: url(/Tarjeta-Cencosud/css/../images/mas-cordion.png);
    float: right;
    margin-top: -4px;
    background-position: 0;
}
.aui .acordeones .cruz-acordion2 {
    width: 25px;
    height: 25px;
    background-image: url(/Tarjeta-Cencosud/css/../images/mas-cordion.png);
    float: right;
    margin-top: -4px;
    background-position: 0 25px;
}*/
.cruz-acordion {
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion.png);
    float: right;
    margin-top: -29px;
}
.cruz-acordion2 {
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion2.png);
    float: right;
    margin-top: -29px;
}

.cruz-acordion3{
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion.png);
    float: right;
    margin-top: -22px;
}
.cruz-acordion3b{
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion.png);
    float: right;
    margin-top: -22px;
	background-position: 0 25px;
}


.cruz-acordion4{
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion2.png);
    float: right;
    margin-top: 7px;	
}
.cruz-acordion5{
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion2.png);
    float: right;
    margin-top: -22px;	
}
.cruz-acordion5b{
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion2.png);
    float: right;
    margin-top: -22px;
	background-position:0 25px;	
}
.cruz-acordion6 {
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion3.png);
    float: right;
    margin-top: -29px;
}
.cruz-acordion-sub {
    width: 20px;
    height: 20px;
    background-image: url(../img/mas-cordion-sub.jpg);
    float: right;
    margin-top: 6px;
}
.cruz-acordion-cy {
    width: 25px;
    height: 25px;
    background-image: url(../img/mas-cordion-cy.jpg);
    float: right;
    margin-top: -4px;
}
.submenu-acordeon{
	background-color: #ededed !important;
    margin-left: -19px;
    margin-right: -19px;
    background-image: none !important;
    color: #fb7f03 !important;
	}
.panel-body p{
	margin-top:10px;
	margin-bottom:10px;	
	}
.panel-body{padding: 0 19px 0 19px;}
.submenu-acordeon active{background-color:#ededed !important;}
.submenu-acordeon a:hover, .submenu-acordeon a:focus { text-decoration:none;}
.panel-title a:hover, .panel-title a:focus { text-decoration:none;}
.submenu-acordeon h5{color:#fc8100 !important; font-weight:bold;}
.subtitulo-acordeon{background-color:#ededed; margin-left:-38px; margin-right:-38px; padding-left:15px;}
.subtitulo-acordeon2{background-color:#ededed; margin-left:-19px; margin-right:-19px; padding-left:15px;}
.subtitulo-acordeon2 h5{ font-weight:bold;}
.acordeon-tarjeta li { background-repeat:no-repeat;}

.panel-primary>.panel-heading {
    background-image: -webkit-linear-gradient(top,#ededed 0,#ededed 100%);
    background-image: -o-linear-gradient(top,#ededed 0,#ededed 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ededed),to(#ededed));
    background-image: linear-gradient(to bottom,#ededed 0,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
    background-repeat: repeat-x;
	color:#fc8100;
	margin-left:-19px; margin-right:-19px
}

.bg-preguntas-frecuentes { border-bottom: solid 3px #fc8100; margin-bottom:20px;}
.fondo-preg-fr { background-color:#fc8100 !important; background-image:url(../img/bk-acordion-naranja.jpg);}
.color-acordeon{background-image:url(img/bk-acordion-naranja.png) !important; background-color:#fc8100 !important; color:#FFF; padding:5px 10px 5px 10px;}	
.color-acordeon h5 { color:#FFF !important;}
.color-acordeon h5 a{ color:#FFF !important; text-decoration:none;}
.color-acordeon h5 hover{ color:#FFF !important;text-decoration:none;}
.color-acordeon h5 active{ color:#FFF !important;text-decoration:none;}

.color-acordeon2{background-color:#eee; color:#666; padding:5px 10px 5px 10px;}	
.color-acordeon2 h5 { color:#666 !important;}
.color-acordeon2 h5 a{ color:#666 !important; text-decoration:none;}
.color-acordeon2 h5 hover{ color:#666 !important;text-decoration:none;}
.color-acordeon2 h5 active{ color:#666 !important;text-decoration:none;}

.color-acordeon3{background-color:#019EE3; color:#666; padding:5px 10px 5px 10px; text-align:center;}	
.color-acordeon3 h5 { color:#fff !important;}
.color-acordeon3 h5 a{ color:#fff !important; text-decoration:none !important;}
.color-acordeon3 h5 hover{ color:#fff !important;text-decoration:none !important;}
.color-acordeon3 h5 active{ color:#fff !important;text-decoration:none !important;}

.accordion-body { background-color:#eee;}
.accordion-inner p{ color:#666;}
.accordion-inner { padding:10px;}
.accordion-heading { margin-bottom:2px;}
.accordion { /*border-bottom: solid 3px #fc8100;*/}


.control-label2{ text-align:left !important;}




.btn-caja {
	font-family: GOTHIC, Verdana, Arial, sans-serif;
	background-image:none;
	box-shadow:none;
	background-color:#fb7f03;
	color:#fff;
	border: 0 none;
	border-radius: 0;
	font-size: 14px;
    text-shadow: none;
}

.btn-caja:hover, .btn-caja:focus {
    background-color: #019EE3;
    background-position: 0 -15px;
	color:#fff;
}
.tooltip1 {
	position:relative;
	top: -2px;
    left: 14px;
}
p.uf {
	margin:0;
}
.plan {
	vertical-align:middle;
}
.plan h3{
	color: #666;
	font-size: 18px;
}
.btn-info {
	border-radius:0;
	background-image:none;
	background-color:#68d1fa;
}
.fono-contacto {
	height: 25px;
    width: 20px;
}
a.accordion-toggle:hover, a.accordion-toggle:focus {
	text-decoration:none;
}
@media only screen and (max-width : 768px) {
.form-group-bottom {
	padding-bottom:35px;
}
/*.bg-resumen {
    padding: 5px 0;
}*/
}
.progress {
	background-image:none;
	background-color:transparent;
	border-radius: 0;
	box-shadow: none;
}
.menu2 {
	background-color:#f1f1f1;
}
.menu2>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
	position: relative;
    display: block;
    padding: 10px 15px;
}
.menu2>li>a:hover, .menu2>li>a:focus {
    color: #23527c;
    text-decoration: none;
}
.navbar-default .navbar-nav>.open>a{
	background-image:none;
	box-shadow:none;
}
.open {
	background-color: #e7e7e7;
}
a.link-pdf{
	text-decoration:underline;
}
.img-tarjeta{
	margin-bottom:5px;
}
.inline {
	margin-top: 8px;
}

.caja-tit-cot {
    height: 95px;
    border-right: solid 1px #FFF;
    float: left;
	background-color:#e7e7e7;
}
.m0direccion {
	margin-left:0 !important;
	margin-right:0 !important;
}
@media only screen and (max-width : 768px) {
	.caja-tit-cot {
    height: 80px;
	}
	.m0direccion {
	margin-left:0 !important;
	margin-right: -15px !important;
}
}
.caja-tit-cot p{
	padding-top:10px;
}
.caja-tit-cot h5{
	background-color:#999;
	color:#fff;
	margin: 0;
    padding: 10px 0;
}
.caja-tit-seg {
    height: 95px;
    border-right: solid 1px #FFF;
    float: left;
	background-color:#e7e7e7;
}
.caja-tit-seg2 {
    height: 95px;
    border-right: solid 1px #FFF;
    float: left;
	background-color:#ccc;
}
.caja-tit-seg p{
	padding-top:9px;
}
.caja-tit-seg h5{
	background-color:#999;
	color:#fff;
	margin: 0;
    padding: 10px 0;
}
.caja-tit-seg2 h5{
	background-color:#999;
	color:#fff;
	margin: 0;
    padding: 10px 0;
}
.caja-tit-seg2 p{
	padding-top:18px;
}
.telefono {
	padding-right: 26px;
}
.datos {margin-top:35px;}

.caja-actualiza-exito{
	padding-top: 30px;
	padding-bottom:140px;
}
@media only screen and (max-width : 768px) {
	.caja-tit-cot p{
    padding-top:10px;
}
.caja-tit-seg {
    height: 76px;
}
.caja-tit-seg2 {
    height: 36px;
}
.caja-tit-seg2 p{
	padding-top:7px;
}
.ntarjeta{
	padding-right: 10px;
    padding-left: 10px;
}
.telefono {
  padding-right: 15px;
}
.datos {margin-top:10px;}
}
a.boton-acordeon:focus {
    text-decoration: none;
	background-color:#019EE3;	
}
.poliza {font-weight:normal;list-style-type:none; padding:0}
.poliza  li{ background-image:url(../img/bullet.png); background-repeat:no-repeat; padding-left: 30px;}

.faq .panel-body {padding: 15px; background-color: transparent;}
.color-acordeon a:hover, .color-acordeon a:focus  {text-decoration:none !important;}
.importante .color-acordeon2 {
    background-color: #eee;
    color: #666;
    padding: 5px 10px 5px 10px;
}
.importante .color-acordeon2 h4{
	color: #f07d00;
    font-weight: bold;
	margin-top: 10px;
    margin-bottom: 10px;
}
.importante .panel-body {padding: 15px; background-color: transparent;}
.importante .panel-heading {background-color: #eee; background-image:none;}
.importante .cruz-acordion2 {margin-top: -3px;}

#accordion-botones .panel {
    background-color: transparent;
}
#accordion-botones .panel-title {
	text-align: center;
}
#accordion-botones .panel-heading {
	padding:0;
}
#accordion-botones .panel-heading a {
	text-align: center;
    font-weight: normal;
    font-size: 14px;
    padding: 10px;
    background-color: #019ee3;
    width: 100%;
    display: block;
}
#accordion-botones .panel-heading a:hover {
	background-color: #f07d00;
}
#accordion-botones .panel-body {
	padding-bottom:	19px;
	background-color:#eee;
}
.input-dest {border: solid 3px #cecece;}
@media screen and (-webkit-min-device-pixel-ratio: 0){
.input-min-width-95p {min-width:95%;}
}
.input-group-addon {
	background-color: #ccc;
	border-radius: 0;
}

.sociales {
	padding-left:20px;
	color:#666;
}
.sociales a {
  margin-top: 0px;
  float: left;
  margin-right: 5px;
  width: 55px;
  height: 53px;
  text-indent: -9999px;
  display: block;
  background: url(/../../images/redes-sociales.png);

}
a.facebook { background-position: 0px 0px; }
a.twitter { background-position: -65px 0px; }

a.numero1{
	font-family: GOTHIC, Verdana, Arial, sans-serif;
	font-size:28px;
	font-weight:bold;
	position:relative;
}
a.numero1:hover, a.numero1:focus {
	text-decoration:none;
	color:#666;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    cursor: default;
    background-color: #fff;
    border: 0 none;
    border-bottom-color: transparent;
    background-color: #fc8100;
    padding-bottom: 12px;
}
.nav-tabs {
    border-bottom: 3px solid #fc8100;
}
.nav-tabs>li {
    float: left;
    margin-bottom: 0;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #eee;
}