#visita {
	float: left;
	height: 25px;
	width: 145px;
	margin-left: 50px;
	background: url(../images/header_multisitio_03.jpg) no-repeat center top;
	display: block;
}
#paris a{
	float: left;
	height: 25px;
	width: 79px;
	margin-left: 25px;
	background: url(../images/header_paris.jpg) no-repeat center top;
	display: block;
}
#paris a:hover{
	float: left;
	height: 25px;
	width: 79px;
	margin-left: 25px;
	background: url(../images/header_paris_hover.jpg) no-repeat center top;
	display: block;
}
#paris a.active{
	float: left;
	height: 25px;
	width: 79px;
	margin-left: 25px;
	background: url(../images/header_paris_hover.jpg) no-repeat center top;
	display: block;
}
#jumbo a{
	float: left;
	height: 25px;
	width: 80px;
	background: url(../images/header_jumbo.jpg) no-repeat center top;
	display: block;
}
#jumbo a:hover{
	float: left;
	height: 25px;
	width: 80px;
	background: url(../images/header_jumbo_hover.jpg) no-repeat center top;
	display: block;
}
#jumbo a.active{
	float: left;
	height: 25px;
	width: 80px;
	background: url(../images/header_jumbo_hover.jpg) no-repeat center top;
	display: block;
}
#easy a{
	background: url(../images/header_easy.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 79px;
}
#easy a:hover{
	background: url(../images/header_easy_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 79px;
}
#easy a.active{
	background: url(../images/header_easy_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 79px;
}
#tarjetas a{
	background: url(../images/header_tarjetas.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#tarjetas a:hover{
	background: url(../images/header_tarjetas_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#tarjetas a.active{
	background: url(../images/header_tarjetas_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#seguros a{
	background: url(../images/header_seguros.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 80px;
}
#seguros a:hover{
	background: url(../images/header_seguros_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 80px;
}
#seguros a.active{
	background: url(../images/header_seguros_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 80px;
}
#banco a{
	background: url(../images/header_banco.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#banco a:hover{
	background: url(../images/header_banco_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#banco a.active{
	background: url(../images/header_banco_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#nectar a {
    background: url("../images/header_puntos.jpg") no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 25px;
    width: 80px;
}

#nectar a:hover{
	background: url(../images/header_puntos_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 80px;
}
#nectar a.active{
	background: url(../images/header_puntos_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 80px;
}

#venta_empresas a{
	background: url(../images/header_ventaempresas.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#venta_empresas a:hover{
	background: url(../images/header_ventaempresas_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
#venta_empresas a.active{
	background: url(../images/header_ventaempresas_hover.jpg) no-repeat center top;
	display: block;
	float: left;
	height: 25px;
	width: 100px;
}
