	/* CSS Document */


/*Pestañas de Fichas

se reajsuta el Acho de los <li> solo escritorio

*/


@media only screen and (min-width: 993px){
	
	
.undiv .tabs {
    display: flex;

}
.undiv .tabs li {
    flex: 1 1 auto;
}
	
	
}

/*Modal dde Fichas*/

.c-modal__wrap h2,
.c-modal__wrap h3, 
.c-modal__wrap h4{
	margin-bottom: 10px !important;
}
.pading_modal{
	padding:0 30px;
	
	
}
.dimen_modal_fichas{
	max-width: 70%;
	
	
	
}
.dimen_modal_fichas h5, 
.dimen_modal_fichas h3, 
.dimen_modal_fichas h4, 
.dimen_modal_fichas h2, 
.dimen_modal_fichas p,
.dimen_modal_fichas ul li
{
	text-align: left;
}
.dimen_modal_fichas h2{
	border-bottom: #ece8e8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 25px;
}


.o-features__featTitle ul li {
    color: #666666;
    font-size: 15px;
    font-family: "Helvetica Neue LT Std Roman", helvetica, arial, sans-serif;
    line-height: normal;
 
}

.featContent ul li{
	 color: #9A9A9A;
    font-size: 15px;
    font-family: "Helvetica Neue LT Std Roman", helvetica, arial, sans-serif;
    line-height: normal;
	
}

.dimen_modal_fichas ul,
.featContent ul
{
	padding-left: 20px;
	margin-bottom: 25px;
	
	
}
.dimen_modal_fichas ul li,
.featContent ul li
{
	margin-bottom: 7px;
	list-style-type: circle;
}

.dimen_modal_fichas ul li ul,
.featContent ul li ul
{
	padding-top: 10px;
	margin-bottom: 20px;
}



/*Dimension H3 no existente*/



.o-features__featTitle h3 {
	color: #333333;
    font-size: 25px;
    font-family: "Helvetica Neue LT Std Light", helvetica, arial, sans-serif;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 30px		

}
.o-features__featTitle h4 {
	color: #333333;
    font-size: 22px;
    font-family: "Helvetica Neue LT Std Light", helvetica, arial, sans-serif;
    font-weight: 300;
    line-height: 100%;
    margin-bottom: 30px		

}

/*Se cambia icono de Check OK por numero en beneficios */

.o-features__feat .featNumber{
	
	width: 16%;
	margin-right: 6px;
	
}

.o-features__feat .featNumber span {
    font-family: "Helvetica Neue LT Std Light", helvetica, arial, sans-serif;
    font-size: 52px;
    color: #fb802f;
    float: right;
}
.o-features__feat .featContent {
    border-left-color: #e8e8e8;
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 10px;
}

/*Texto legal*/

.txt_legal {
	padding-bottom: 50px;
	
	
}
.txt_legal p{
	font-size: 11px;
	line-height: 19px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.txt_legal h5{
	font-size: 14px;
	line-height: 19px;	
}

/*Alineacion de iciono en pestaña esclusiones*/

.o-features__feat--coverage .featNumber{
	vertical-align: top;
	
	
}

@media only screen and (max-width: 993px){
	.o-features__feat--coverage{
		padding-bottom: 21px;
		
		
	}
	
	
}


/*Extras*/

.linea_top{
	border-top-color: #cccccc;
	border-top-style: solid;
	border-top-width: 1px;
	
	
}
.linea_bottom{
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
}

.u-pb30{
	padding-bottom: 30px;
}

.u-pb10{
	padding-bottom: 10px;
}

.u-pb60{
	padding-bottom: 60px;
}




.u-pb0{
	padding-bottom: 0px;
}
.u-pt0{
	padding-top: 0px;
}

.ancho_100{
	width: 100%;
	
}
.ancho_50{
	width: 50%;
	display: inline-block;
}

.txt_centro{
	text-align: center !important;
	
	
}
.txt_izquieda{
	text-align: left !important;
	
}
.txt_derecha{
	text-align: right !important;
	
}

.flex_d_f{
	display: inline-flex;

}
.d_block{
	display: block;

}





.naranja_txt{
	color: #fb802f !important;	
}
.azul_txt{
	color: #019EE3 !important;
}

.gris_txt{
	color: #333333 !important;
}

/*cambios de css Esclusiones*/



@media only screen and (max-width: 992px){
	
.exclusiones .o-features__feat {
  
    height:  auto !important; 

}
.exclusiones .o-features__feat--coverage {
    padding-bottom: 0px;
}
	

	
	
}

/*.exclusiones .o-features__feat--coverage .featNumber{
		
	    width: 21% !important;	
	}*/
	
.exclusiones .o-features__feat--coverage .featNumber {
    
    padding-right: 0 !important;

}
.exclusiones h2,
.exclusiones h3,
.exclusiones p.margen
{
	padding-left: 40px;
	
}
.row.exclusiones > div {
    padding-left: 0;
}
.exclusiones .o-features__feat .featNumber .o-features__svg{
	
padding-right: 15px;	
}









/*TABLA STANDAR*/

.tabla_standar{
	
	border-spacing: 0;
    border-collapse: collapse;
	margin-bottom: 40px;
	width: 100%;
	border-right: solid 1px #cccccc;
}



.tabla_standar th, .tabla_standar td {
	padding: 20px;	
}
.tabla_standar th{
	background-color: #EEEEEE;
	color: #666666;
	text-transform: uppercase;
	font-size: 15px;
    letter-spacing: 4px;
	font-weight: 300;
}
.tabla_standar tr{
	border-collapse: collapse;
	border-top: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	
}

.tabla_standar td{
	/*border-bottom: solid 1px #ebeaea;*/
	border-left: solid 1px #cccccc;
	color: #666666;
	
}

.center_td tr td:first-child {
    text-align:center;
}

.tabla_standar td:last-child,
.tabla_standar th:last-child

{
	border-right: solid 1px #cccccc;
}

.tabla_standar th{
	
	border-left: solid 1px #cccccc;

}

.tabla_standar tr:first-child, .tabla_standar tr:last-child{
	
	border-bottom: solid 0px;
	
}


/*mejora tabla Comparativa*/


.o-table--comparative td{
	text-align: center;
    font-size: 14px;
    padding: 20px;
    background-color: #EEEEEE;
	
}
.o-table--comparative tr,
.o-table--comparative tr:first-child{
	border-bottom: solid 1px #CCCCCC;
	
}

.o-table--comparative td:first-child, 
.o-table--comparative th:first-child
{
	background-color: #FFF;
	
}

.o-table--comparative td:first-child
{
	text-align: left;
	
}


table a#show_cover:hover {
    background-color: #fff;
    color: #129ee3;
    text-decoration: underline;
}



.o-features__feat .featNumber i.fa {
    font-size: 52px;
    color: #fb802f;
    float: right;
}






.o-box--plan .o-box__body .o-description:first-child {

	border-top-style: solid;
    border-top-color: #cccccc;
    border-top-width: 1px;
}
/*CAmbios en Margen top de cada pagina*/

#tab1,
#tab2,
#tab3,
#tab4
{
	padding-top: 40px;
	
	
}


#tab1 > h2:first-child,
#tab2 > h2:first-child,
#tab3 > h2:first-child,
#tab4 > h2:first-child
{
	padding-top: 0px !important;
	margin-top: 0 !important;
	
}
#tab1 > div > h2.u-text-center:first-child,
#tab2 > div > h2.u-text-center:first-child,
#tab3 > div > h2.u-text-center:first-child,
#tab4 > div > h2.u-text-center:first-child
{
	padding-top: 0px !important;
	margin-top: 0 !important;
	
}

#tab1 > div:first-child,
#tab2 > div:first-child,
#tab3 > div:first-child,
#tab4 > div:first-child
{
	padding-top: 0px !important;
	margin-top: 0 !important;
	
}


#tab1 > div > div > table,
#tab2 > div > div > table,
#tab3 > div > div > table,
#tab4 > div > div > table
{
	padding-top: 0px !important;
	margin-top: 0 !important;
	
	
}
#tab1 > h2{
	padding-top: 20px;
	
	
}

@media only screen and (max-width: 993px){
	
#tab1 > h3{
	padding-bottom: 20px;
	
	
}	
	
	
}



	

#tab1 h2, #tab2 h2, #tab3 h2, #tab4 h2{
	font-size: 23px;
	display: block;
	width: 100%;
	padding-bottom: 13px;
}


#tab1 h3, #tab2 h3, #tab3 h3, #tab4 h3{
	font-size: 20px;
	display: block;
	width: 100%;
	padding-bottom: 13px;

}


@media only screen and (max-width: 993px){
		
.featNumber_xs{
	width: 16%;
    margin-right: 6px;
    padding-right: 20px;
    float: none;
    display: table-cell;
    vertical-align: top;
}
	
	
.featNumber_xs .featNumber{
		padding-right: 0;	
}
	
}



@media only screen and (min-width: 993px){
	
.featNumber_xs{
	width: 8%;
    margin-right: 6px;
    padding-right: 20px;
    float: none;
    display: table-cell;
    vertical-align: top;
	
	
}
	
	
.featNumber_xs .featNumber{
		width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    float: none;
    display: block;
    vertical-align: top;

	
	
}
	
}

/*Despliege tabla responsiva*/



.o-description__term,
.o-description__def
{
	
	margin-left: 0;
	
}

.o-description__term {

        font-size: 14px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

/*parrafos de contenidos*/

.container .parrafos p{
	    color: #666666;
    font-size: 15px;
    font-family: "Helvetica Neue LT Std Roman", helvetica, arial, sans-serif;
    line-height: normal;
    margin-bottom: 30px;

	
	
}

@media only screen and (max-width: 992px){
	

section.tabsmix .container .row, .col-12 {
	margin-left: 0;
	margin-right: 0;
 
}

	
}

.o-features__featTitle h2 {
/*	margin-bottom: 0 !important;*/
}

/* PAGINAS INTERNAS (HTML) */
/* CSS Document */

.pestanas a.o-collapse__button{
	text-align: left;
	border-radius: 0px;
	border-left-width: 0 !important;
	border-right-width: 0 !important;
	border-top-width: 0 !important;
	border-bottom-color: #e9e9e9  !important;
	padding-left: 0;
	font-size: 20px;

}

@media only screen and (max-width: 768px){
	
	
.o-btn--outline.o-btn--secundary.o-btn--icon {
    font-size: 20px;
}	
	
}



.pestanas .o-icon{
	float: right;
}

.pestanas .o-collapse__content.is-active
{
	overflow: hidden;
/*	border-bottom-color: #cccccc !important;
	border-bottom-style: solid;
	border-bottom-width: 1px;*/

}


.pestanas  .o-collapse__content.is-active {
  
    max-height: 9000px;
	-webkit-transition: max-height 0.9s ease-in !important;
	-moz-transition: max-height 0.9s ease-in !important;
	transition: max-height 0.9s ease-in !important;
	
	-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.pestanas .o-collapse__content{
	

	
	-webkit-transition: max-height 0.3s ease-in-out !important;
	-moz-transition: max-height 0.3s ease-in-out !important;
	transition: max-height 0.3s ease-in-out !important;
	
	  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



       .fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 
  .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  }
  @keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
  } 




.pestanas .collapse_contenido{
	padding-top: 30px;
	padding-bottom: 30px; 
	
	
}

.pestanas .collapse_contenido h2{
	font-size: 18px;
	color: #6c6c6c !important;
	
	
	
}

.pestanas .collapse_contenido h3{
	font-size: 15px;
	color: #6c6c6c !important;
	margin-bottom: 17px !important;
	
}

.pestanas  .o-collapse__button.o-btn--secundary .u-triangle_down {
    border-top-color: #cccccc;
}

.pestanas  .o-btn--outline.o-btn--secundary:hover {
    background-color: transparent;
    color: #E8772A !important;

}
.pestanas a.o-collapse__button:hover .u-triangle_down {
    border-top-color: #E8772A !important;
}
.pestanas a.o-collapse__button:hover{
	border-bottom-color: #E8772A !important;
	
}
.pestanas a.o-collapse__button:focus{
	text-decoration: none !important;
	
}


.pestanas a.o-collapse__button.is-active{
	
	border-bottom-color: #E8772A !important;
	color: #E8772A !important;
}

.pestanas a.o-collapse__button.is-active .o-icon .u-triangle_down{
	
	 border-top-color: #E8772A !important;
	
}

.pestanas .pestanas_2{
	padding-left: 30px;
	
	
	
}

.pestanas .pestanas_2 a.o-collapse__button{
	    font-size: 17px;
	
	
	
}



section .o-box.o-box--quotation p{
	line-height: 20px;
	padding-bottom: 7px;

}

section .o-box.o-box--quotation ul {
	padding-left: 16px;

}


section .o-box.o-box--quotation ul li{
	padding-bottom: 7px;
	list-style: circle !important;
}
ul.numenos > li{
	padding-bottom: 7px;
	list-style: decimal!important;
}

ul.letras > li{
	padding-bottom: 7px;
	list-style: lower-alpha!important;
}



@media only screen and (min-width: 993px){
.columnas_dos{

	 -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    
    -webkit-column-gap: 60px; /* Chrome, Safari, Opera */
    -moz-column-gap: 60px; /* Firefox */
    column-gap: 60px;


    
    -webkit-column-rule: 1px solid rgb(233, 233, 233)  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid rgb(233, 233, 233)  ; /* Firefox */
    column-rule: 1px solid rgb(233, 233, 233)  ;

}
	
	
	.columnas_tres{

	 -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;


    
    -webkit-column-rule: 1px solid rgb(233, 233, 233)  ; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid rgb(233, 233, 233)  ; /* Firefox */
    column-rule: 1px solid rgb(233, 233, 233)  ;

}
	
	
	
}

/*MAPA DE CONTENIDOS*/

.contenedor-horizontal {
    background-color: #f5f5f5;
    padding: 15px 0;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
	    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
}

@media only screen and (min-width: 993px){

.contenedor-horizontal .form-control {
    border-color: #cecece;
    border-radius: 0;
    box-shadow: none;
    color: #626262;
    font-size: 12px;
    padding-left: 1px;
}
.contenedor-horizontal .form-group {
    margin-bottom: 0px;
}


}
.separacion-hor {
    height: 25px;
    width: 100%;
	clear: both;
}



#sucursal{
	padding-top: 20px; 
	
	
}
#sucursal .epigrafe{
	font-size: 16px;
	margin-bottom: 0;

}

#sucursal h2{
	font-size: 40px;
    color: #019ee3;

}
#sucursal .direccion h3{
	font-size: 20px;
    color: #019ee3;

}
#sucursal .direccion p{
	font-size: 15px;
    color: #019ee3;

}
#sucursal .horario p{
	font-size: 13px;
	padding-bottom: 0px;
	margin-bottom: 0;

}

#sucursal .horario h3 {
    font-size: 20px;
    padding-bottom: 9px;
    margin-bottom: 0;
    font-weight: bold;
}


.horario {
    border-top-color: #cccccc;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 20px;
}
.polizas{
	margin-left: 0;
	margin-right: 0;
	
	
}

.polizas > a{
	padding: 0;

}

.polizas > a:nth-child(odd){

	    background-color: #fff;
	
	
}

.polizas > a:nth-child(even){

	background-color: #fff;
	
	
}



.polizas a{

	display: block;
	padding: 15px;
	

}
.polizas a h3 {
	border-bottom-width: 1px;
    border-bottom-color: #e4e3e3;
    border-bottom-style: solid;
    margin-bottom: 13px;
    padding-bottom: 8px;
	color: #676767;
	
}
.polizas a:hover{
	text-decoration: none !important;
	background: #f6f6fb;
    color: #666666;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.polizas a:hover h3,
.polizas a:hover p
{
	text-decoration: none !important;
	
	
}
.polizas a i.fa{
	

	visibility: hidden;
	    -ms-transform: rotate(124deg); /* IE 9 */
    -webkit-transform: rotate(124deg); /* Safari */
    transform: rotate(124deg);
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.polizas a:hover i.fa{
	
	    -ms-transform: rotate(124deg); /* IE 9 */
    -webkit-transform: rotate(124deg); /* Safari */
    transform: rotate(124deg);
	position: absolute;
	bottom: 10px;
	right: 10px;
	visibility: visible;
	    color: #019ee3;
	
}
.nota{
	padding: 20px;
	padding-bottom: 0;
	border-color: #e5e5e5;
	border-width: 2px;
	border-style: dashed;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fffcfc;
}

/*-----------------------------------*/

.dest_fono_cliente{
	margin-top: 50px;
	margin-left: 0;
	margin-right: 0;

}

@media only screen and (min-width: 993px){
	
	
	.dest_fono_cliente .dest_num{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	 .dest_fono_cliente .dest_num .fa{
		font-size: 90px;
		color: #cecaca;
		margin-right: 20px;
	}
	
}
@media only screen and (max-width: 993px){
	
	
	.dest_fono_cliente .dest_num{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}

	 .dest_fono_cliente .dest_num .fa{
		font-size: 90px;
		color: #cecaca;
		margin-right: 20px;
	}
	
}


.dest_fono_cliente .dest_num h2{
	font-size: 20px;
    color: #aba6a6;
	font-weight: 100;
}



.dest_fono_cliente .dest_num p{
	font-size: 40px;
	line-height: 43px !important;
	color: #aba6a6;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.dest_fono_cliente .dest_num p a{
	font-size: 40px;
	line-height: 43px !important;
	color: #aba6a6;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.dest_fono_cliente .dest_num p a:hover{
	text-decoration: none;
}



@media only screen and (min-width: 993px){
	.dest_fono_cliente .linea_der{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #e5e5e5;

	}
	
	
}

@media only screen and (max-width: 993px){
	.dest_fono_cliente .linea_der{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #e5e5e5;

	}
	
	
	
	.dest_fono_cliente .dest_num h2{
	font-size: 16px;
    color: #666666;
	font-weight: 100;
	}

	.dest_fono_cliente .dest_num p{
		font-size: 30px;
		line-height: 43px !important;
		color: #aba6a6;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	
}

@media only screen and (min-width: 993px){
	
	.dest_contacto .fa{
	font-size: 190px !important;
	}
	
}
@media only screen and (max-width: 993px){
	
	.dest_contacto .fa{
	font-size: 170px !important;
	}
	
	.dest_contacto .txt p{
	font-size: 27px !important;
		line-height: 27px;
	}
	
}

.centrar_elemento{
	display: flex;
	justify-content: center;
	
	
	
}

.txt_destacdo{
	padding: 30px;
	background-color: #f9f9f9;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e5e5;

}
.txt_destacdo p:last-child{
	padding-bottom: 0;
	
	
}

/*-----------------------------------*/

/* BANNER HOME */

.caja_banner {
	background-color:rgba(43, 43, 43, .49);
	padding:15px;
	width:60%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.caja_banner .o-advertising__volante {
    background-color: rgba(43, 43, 43, 0.7);

}



.slider_bck {
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider_bck:after {
	overflow: hidden;
	width: 100%;
	height: 100px;
	z-index: -1;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

@media only screen and (min-width: 993px) {

.banner_interno {
	background-color:rgba(0,0,0,.6);
	padding:15px;
	width:60%;
}

.banner_interno .o-advertising__text--big {
	width:100%;
}

}

@media only screen and (min-width: 0px) and (max-width: 740px) {

.slider .o-advertising {
	height:425px;
}

.slider .o-advertising .u-center {
	padding:0px;
}

.slider .o-advertising .u-center {
	top:150px;
	transform:translateY(0px);
	-webkit-transform:translateY(0px);
}

.caja_banner {
	width:100%;
	padding-left:30px;
	padding-right:30px;

}

.caja_banner h1 {
	font-size:26px;
	line-height:29px;
	color:#666666;
}

.caja_banner h3 {
	font-size:10px;
	color:#FFF;
}

.caja_banner p {
	font-size:14px;
	color:#666666;
}

.caja_banner small {
	color:#666666;
}

.caja_banner .o-advertising__btn {
	border:none;
	background-color: #FB802F;
    color: #FFF;
    font-weight: 500;
}

.caja_banner .o-advertising__link {
	color:#019EE3;
}

.u-line {
	border-top:1px solid #666;
}

o-advertising__actions {
	padding-top:10px !important;
}

.slick-track {
	height:400px;
}

.slick-track .slider_bck {
	height:150px !important;
}

.o-advertising__actions .o-advertising__btn {
	padding:10px;
}


}

/* FIN BANNER HOME */

/* ---- Micky ----  */

/* Imagenes Bases Promo */
.img-info { margin: 0px 0px 20px 0px; width: -webkit-fill-available;}

.btn-info { margin: 0px 0px 70px 0px; padding: 8px 5px 5px 5px; color: #fff; background-color: #019EE3; display: block; text-align: center; }
.btn-info:hover { color: #fff; background-color: #f97f24; display: block; text-decoration: none;}

.btn-info-half-left { margin: 0px 0px 70px 0px; padding: 8px 5px 5px 5px; color: #fff; background-color: #019EE3; display: block; text-align: center; width: 48%; float: left; }
.btn-info-half-left:hover { color: #fff; background-color: #f97f24; display: block; text-decoration: none;}

.btn-info-half-right { margin: 0px 0px 70px 0px; padding: 8px 5px 5px 5px; color: #fff; background-color: #019EE3; display: block; text-align: center; width: 48%; float: right; }
.btn-info-half-right:hover { color: #fff; background-color: #f97f24; display: block; text-decoration: none;}


.mosaico{

	display: flex;
    flex-direction: column;
    justify-content: space-between;
	
}

.mosaico h3, .mosaico p{
	
	text-align: center;
	
}
.mosaico img{
	    border: 1px solid #eeeeee;
	
	
}
.mosaico  .o-btn{
	margin-bottom: 30px;
	
	
}


@media screen and (min-width: 1200px) and (max-width: 9993px) {
	.mosaico { max-width: 357px; }
}
@media screen and (max-width: 357px) and (min-width: 0px) {
	.mosaico img { max-width: 100%; }
	.mosaico { width: 100%; }
	.mosaico { flex-basis: auto; }
	
}

@media screen and (max-width: 992px) and (min-width: 0px) {
	.mosaico { max-width: 100%; }
}
@media screen and (max-width: 1200px) and (min-width: 993px) {
	.mosaico { max-width: 444px; }
}

/* FIN Imagenes Bases Promo */

/* Tabla credito de consumo */
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
	text-align: center;
	padding: 20px 0px;
}
/*/Tabla credito de consumo */

/* Correcciones 12 oct 2017 */
.sub_menu_right {
	left: auto !important;
	right: 0;
}
.c-header__service a {
    color: #FB802F;
}
@media only screen and (max-width: 1210px) and (min-width: 993px) {
	.c-nav__item {
		margin: 0 1.5% !important;
	}
}
@media only screen and (min-width: 1211px) {
	.c-nav__item {
		margin: 0 2.3% !important;
	}
}
/* Camas Calugas Home */
.cama-calugas-home {
	position: absolute;
	bottom: 0;
	width: 100%;
    height: 100px;
    background: #019EE3;
	opacity: 0.8;
	z-index: 2;
}
@media screen and (max-width: 768px) {
    .cama-calugas-home {
		height: 240px;
	}
}
.o-offer__content {
	text-align: left;
}
.o-offer__title {
    font-size: 23px;
	margin: 0 0 23px;
	max-height: 100px;
}
.o-offer__text {
	margin: -15px 0px 20px 0px;
}
.o-offer__link {
    -webkit-transition: 400ms; /* Safari */
    transition: 400ms;
}
.o-offer__link:hover {
    color: #019EE3;
	background-color: #fff;
	-webkit-transition: 400ms; /* Safari */
    transition: 400ms;
	
}
/*/Camas Calugas Home */

/*/Correcciones 12 oct 2017 */

/* Banner Home */
@media only screen and (max-width: 3000px) and (min-width: 740px){
	.o-advertising .u-center .caja_banner {
		min-width: 470px;
	}
}
@media only screen and (max-width: 992px) and (min-width: 575px){
	.u-mt-5 { margin-top: 485px !important; }
}
@media only screen and (max-width: 575px) and (min-width: 0px){
	.u-mt-5 { margin-top: 20px !important; }
}
@media only screen and (max-width: 740px) and (min-width: 0px){
	.slick-prev, .slick-next { top: 12% !important; }
}
.caja_banner {

	padding:15px;
	width:60%;
}

.slider_bck {
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider_bck:after {
	overflow: hidden;
	width: 100%;
	height: 100px;
	z-index: -1;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}

@media only screen and (min-width: 993px) {

	.banner_interno {
		background-color:rgba(0,0,0,0.6);
		padding:15px;
		width:60%;
	}

	.banner_interno .o-advertising__text--big {
		width:100%;
	}

}

@media only screen and (min-width: 0px) and (max-width: 740px) {

	.slider .o-advertising {
		height:400px;
	}

	.slider .o-advertising .u-center {
		padding:0px;
	}

	.slider .o-advertising .u-center {
		/* achicar banner mobile top: 225px;*/
		transform:translateY(0px);
		-webkit-transform:translateY(0px);
	}
	.o-advertising {
		background: rgba(0, 0, 0, 0) !important;
	}
	.caja_banner {
		min-height: 275px;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		background-color: rgba(255,255,255,1);
		border-bottom: 1px solid #e5e5e5;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	.caja_banner h1 {
		font-size:26px !important;
		line-height:29px !important;
		color:#666666;
	}

	.caja_banner h3 {
		font-size:10px;
		color:#FFF;
	}

	.caja_banner p {
		font-size:14px;
		color:#666666;
	}

	.caja_banner small {
		color:#666666;
	}

	.caja_banner .o-advertising__btn {
		border:none;
		background-color: #FB802F;
		color: #FFF;
		font-weight: 500;
	}

	.caja_banner .o-advertising__link {
		color:#019EE3;
	}

	.u-line {
		border-top:1px solid #666;
	}

	.o-advertising__actions {
		padding-top:10px !important;
	}

	.slick-track {
		/* achicar banner mobile height:500px;*/
		height:455px;
	}

	.slick-track .slider_bck {
		height: 280px !important;
	}

	.o-advertising__actions .o-advertising__btn {
		padding:10px;
	}


}

@media only screen and (min-width: 0px) and (max-width: 320px) {
	
	.caja_banner h1 {
		font-size:21px !important;
		line-height:22px !important;
		color:#666666;
	}
	
	.caja_banner p {
		font-size:14px !important;
		line-height:14px !important;
		color:#666666;
	}
	
}

/*/Banner Home */

/* Modal Mobile */
@media only screen and (min-width: 0px) and (max-width: 992px){
	.dimen_modal_fichas { max-width: 100%; }
	.remodal-wrapper { margin-top: 10px; }
	.remodal-close { top: 10px; color: #555; right: 15px; z-index: 9; }
	.pading_modal { padding: 20px 30px; }
}
/*/Modal Mobile */

/* Botonera Mobile */
@media only screen and (min-width: 0px) and (max-width: 992px){
	.c-nav__link .mx-chevron-down { padding-left: 0px; float: right; color: #a3a0a0; }
	.c-nav__item { border-bottom: 1px solid #e4e4e4; }
	.c-nav__sub .c-nav__subitem .c-nav__link { line-height: 14px; }
	.c-nav__sub { max-width: 100%; }
}
/*/Botonera Mobile */

/* Arreglo despliegue tablas */
/*o-table__row is-hidden*/
.o-btn--link.o-btn--secundary:link, .o-btn--link.o-btn--secundary:visited {
    background-color: transparent;
    color: #019EE3;
	text-decoration: none;
}
.o-btn--link.o-btn--secundary:hover, .o-btn--link.o-btn--secundary:active {
    background-color: #019EE3;
    color: #fff;
	text-decoration: none;
}
/*/Arreglo despliegue tablas */

/* Arreglo banner ppal */
.c-hero .c-quotient {
    width: 25%;
}
.c-hero .slider {
    width: 75%;
}

main .o-advertising {
	background: rgba(0, 0, 0, 0.2) !important;
}
.slider .o-advertising {
	background: rgba(0, 0, 0, 0.0);
}

.remodal-bg .c-herosimple{
	background-color: #f1fafd;
	
}





.c-quotient__inner {
	width: 90%;
	max-width: 300px;
}
@media only screen and (max-width: 1320px) and (min-width: 993px){
	.c-hero .c-quotient {
    width: 30%;
	}
	.c-hero .slider {
		width: 70%;
	}
}
@media only screen and (max-width: 992px){
	.c-hero .c-quotient, .c-hero .slider {
		width: 100%;
	}
	.c-quotient__inner {
		width: 100%;
		max-width: 100%;
	}
}
@media only screen and (min-width: 992px) {
	.u-mt-5 {
		margin-top: 11px !important;
	}
}
@media only screen and (max-width: 992px) and (min-width: 575px) {
	.u-mt-5 {
		margin-top: 11px !important;
	}
}


/*/Arreglo banner ppal */

/* Arreglo Calugas Home */
@media only screen and (min-width: 992px) {
	.o-offer:hover .o-offer__title {
		top: -90%;
		bottom: inherit;
	}
	.o-offer__title {
		font-size: 23px;
		margin: 30px 0 23px;
		max-height: 100px;
	}
	.o-offer__title {
		display: block;
		position: absolute;
		top: 0%;
		bottom: inherit;
		transition: top .3s ease-out;
	}
}
/*/Arreglo Calugas Home */

/* Sombra flechas banner */
.slick-arrow {
	text-shadow: -1px 1px 1px #a9a6a6;
}
/*/Sombra flechas banner */

/* Arreglo Formulario cotizador en home en mobile (alto) */
@media only screen and (max-width: 992px) {
	.c-quotient__title {
		font-size: 28px;
		line-height: 29px;
		font-weight: 300;
		display: block;
		margin: 0 0 10px;
		font-family: "Helvetica Neue LT Std Light", helvetica, arial, sans-serif;
	}
}
@media only screen and (max-width: 992px) and (min-width: 740px) {
	.c-hero {
		height: 310px;
	}
}
@media only screen and (max-width: 740px) and (min-width: 500px) {
	.slick-track .slider_bck {
		height: 250px;
	}
}
@media only screen and (max-width: 740px) {
	.caja_banner p {
		position: absolute;
    	bottom: 110px;
	}
	.o-advertising .u-line {
		max-width: inherit;
		position: absolute;
		bottom: 90px;
		width: 84%;
	}
	.caja_banner small {
		position: absolute;
    	bottom: 73px;
	}
	.o-advertising__actions {
		position: absolute;
		bottom: 0;
	}
	.c-quotient__title br {
		display: none;
	}
	.c-quotient__title strong::after {
		content: " ";
	}
	.slick-track {
		height: 475px;
	}
	.slider .o-advertising .u-center {
		top: 200px;
	}
	.slick-prev, .slick-next {
		top: 8% !important;
	}
	.c-hero {
		height: 280px;
	}
	.c-quotient__title {
		font-size: 25px;
	}
}
@media only screen and (max-width: 500px) and (min-width: 1px) {
	.slick-track .slider_bck {
		height: 150px !important;
	}
	.slider .o-advertising .u-center {
		top: 100px;
	}
	.slick-track {
		height: 375px;
	}
}
/*/Arreglo Formulario cotizador en home en mobile (alto) */

/* Nueva Transicion menu mobile */
@media only screen and (max-width: 992px){

	.c-nav {
			top: 0%;
			right: -110%;
	}
	
}
/*/Nueva Transicion menu mobile */

/* ----/Micky ----  */

main .tabsmix{
    margin-bottom: 50px;
}



.u-bdr_tb .o-features__quotebox{
	
	 
	display: flex;
    flex-flow: row wrap;
    justify-content: center;
	width: auto !important; 
	
}


.o-features__featTitle h2 {
    font-size: 32px !important;

}
.banner_inter{
	overflow: hidden;
	position: relative;
	
	
	
	
}



/*------------Banner Ficha Interna-------------*/

.banner_inter{
	overflow: hidden;
	position: relative;
	height: 280px;
	background-color: #000;
	
}

.banner_inter img{
	width: 100%;
	height: auto;
	position: relative;
	align-self: baseline;

}



@media only screen and (min-width: 993px) and (max-width: 1376px) {
	
	.banner_inter img{
	width: auto;
	height: 100%;
	position: relative;

}

}


@media only screen and (min-width: 820px) and (max-width: 992px) {
	
	.banner_inter {
	width: 100%;
	
		
	}
	.banner_inter img{
	width: 100%;
	height: auto;
	position: relative;

}
	
	


}

@media only screen and (min-width: 0px) and (max-width: 819px) {
	
	.banner_inter {
		width: 100%;
		display: flex;
	justify-content: center;
	
		
	}
	.banner_inter img{
	width: auto;
	height: 100%;
	position: relative;

}
	
	
	
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
	
	.banner_inter {
		height: 264px
	
		
	}
	
	
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
	
	.banner_inter {
		height: 200px
	
		
	}
	
	
}




.col-lg-6>h2 {
    padding-top: 0 !important;
}
.content-tabs p,
.content-tabs li,
table td, 
table th

{
	    color: #949494 !important;

}

.linea_abajo {
    border-bottom-style: solid;
    border-bottom-color: #e8e8e8;
    border-bottom-width: 1px;
    margin-bottom: 55px;
}
.linea_derecha{
	border-right: solid;
    border-right-color: #e8e8e8;
    border-right-width: 1px;
	
	
}



.ico_fono_asistencia{
	font-size: 25px;
	
}
.ico_fono_asistencia .fa{
	font-size: 36px;
	float: left;
	margin-right: 10px;

}

.u-pl-30{
	padding-left: 30px;
}
.u-pr-30{
	padding-right: 30px;
}

#tab1 .col-lg-6 h2, #tab2 .col-lg-6 h2, #tab3 .col-lg-6 h2, #tab4 .col-lg-6 h2
{
	padding-bottom: 30px;
	
	
}

.o-features__featTitle.txt_legal.linea_bottom{
	padding-bottom: 0;
	border-bottom: none;
	border-bottom-width: 0;
	
	
	
}



.c-hero form select#rama option:not(selected),
.c-hero form select#subcategoria option:not(selected)
{
	color: #000;
	padding: 6px;

}

/*
Cambios en Estructura de Paginas portada*/

@media only screen and (min-width: 992px) {
	
	.c-articles__article-item .c-articles__content{
	padding: 50px;
}

.c-articles__article-item .c-articles__content p{
	float: left;
	width: 50%;
	
}

.c-articles__article-item .c-articles__content .c-articles__buttons{
	float: right;
	width: 45%;
	
}
	

	
}

@media only screen and (max-width: 992px) {
	
	.c-articles__article-item .c-articles__content h1 {
    display: block !important;
}	
	
.c-articles__content {
    padding: 20px 20px;
}
	.c-articles__content .c-articles__buttons div{
		padding-left: 0;
		padding-right: 0;
		
	}
	
}

@media only screen and (min-width: 1397px) {

.c-quotient__tbtext p.c-quotient__subtitle{

    font-size: 17px !important;

    line-height: 22px !important;
}
	
}
	

@media only screen and (min-width: 993px) and (max-width: 1397px) {
	
	.c-quotient__tbtext p.c-quotient__subtitle{

    font-size: 16px !important;

    line-height: 19px !important;
}
	
.c-quotient__inner h1.c-quotient__title {
    font-size: 31px !important;
    line-height: 30px !important;

}
	
	
	
	
}

.remodal-bg .c-herosimple{
	/*background: transparent  !important;*/
	background-position: center top;
}
.c-herosimple .o-advertising{
	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d3d3+0,aaaaaa+100 */
/*background: #019EE3 */

	
	
}

.c-herosimple .o-advertising h1, 
.c-herosimple .o-advertising p, 
.c-quotient .c-quotient__inner h1,
.c-quotient .c-quotient__inner h3, 
.c-quotient .c-quotient__inner p
{
	
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5);
	
}
@media only screen and (min-width: 992px){
.c-herosimple .o-advertising {
    /*height: 190px;*/
}
.c-herosimple{
	/*height: 189px;*/
	background-image:none;
	}	
	
	
}

@media only screen and (max-width: 992px){
	
	.c-herosimple .o-advertising__title {
    color: #fff;
}
	
	.c-herosimple .o-advertising__text--big {
    width: inherit;
    color: #fff;
	font-size: 19px;
	line-height: 20px;
}
	
}

.o-advertising .u-center .caja_banner h1{
		font-size: 41px;
		
		
	}


@media only screen and (min-width: 1100px) and (max-width: 1455px) {
	
	.o-advertising .u-center .caja_banner{
		width: 65%
		
	}
	
	.o-advertising .u-center .caja_banner h1{
		font-size: 35px;
		
		
	}
	
	
}

@media only screen and (min-width: 993px) and (max-width: 1100px) {
	
	.o-advertising .u-center .caja_banner{
		width: 85%
		
	}
	
	.o-advertising .u-center .caja_banner h1{
		font-size: 35px;
		
		
	}
	
	
}


#waitModal .modal-dialog{
	height: 100%;

}

#waitModal  .modal-content{
	
	top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    height: 68px;
	
}
#waitModal  .modal-content p{
	font-size: 26px;
	color: #5d5b5b;

}
.o-btn{
	font-weight: 300;

}

.o-btn--secundary:hover {
    text-decoration: none;
    background-color: #2baae6;
}



.c-sure .c-sure__company img {
   /* height: 27px;
    width: auto;*/
}

/*---------Corrección menu meobile------------*/

.c-nav__subitem .c-nav__link { background: none !important;}
.c-nav__item .c-nav__link { background: url(/vseg-paris/img/flecha-abajo.svg) no-repeat; background-position: right; background-size: 15px; }
.c-nav__item .is-active { background: url(/vseg-paris/img/flecha-arriba.svg) no-repeat; background-position: right; background-size: 15px; }
.no_bg { background: none !important;}
@media only screen and (min-width: 993px) {
	.c-nav__link { background: none !important;}
}

/*---------Corrección menu meobile------------*/


/*Correcion Seccion Cotizador*/

.remodal-bg .container form{
	width: 100%;	
}

#waitModal .modal-dialog {
    z-index: 9999;
}

h4.monto_uf{
	font-family: "Helvetica Neue LT Std Medium", helvetica, arial, sans-serif;
    font-size: 20px;
    color: #888787;
}

@media only screen and (max-width: 767px){
	 h4.monto_uf{
		 text-align: center;
}
	
	
	.cotizador_cn_fono{
		
		
	}
	
	
}


@media only screen and (max-width: 500px){

	
	.cotizador_cn_fono{
		
		width: 90%;
	}
	.cotizador_cn_fono input.o-form__input{
		
		font-size: 1.6rem;
	}
	
}





h4.monto_uf span{
	font-size: 15px;
    font-family: "Helvetica Neue LT Std Roman", helvetica, arial, sans-serif;
    font-weight: 300;
    bottom: 0;

}
.o-checkbox input{

	margin-right: 5px;
	
}
.c-summary .c-summary__title{
	
	text-align: center;
}
.c-summary .c-summary__company{
	margin-top: 20px;
	
	
}
.c-summary .c-summary__subtitle{
	margin-bottom: 0;
	font-size: 1.1rem;
	
	
}
.c-summary  .c-summary__cost{
	padding-top: 33px;
	
	
}

.modal-backdrop.in{
	 opacity: .8;

}
#waitModal .modal-content{
	
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
	-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
}

.cotizador_cn_fono{

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #e0e0e0;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    margin-top: 43px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 10px;
}

.cotizador_cn_fono span.o-checkbox{

	font-size: 1rem;
    text-align: center;
    display: inline-block;
    color: #7a7a7a;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
	
}

.u-mobile_second .o-legal{
	background-color: #fff;
    border-top: 1px solid #e0e0e0;
    padding-top: 41px;
    margin-top: 27px;
}
	


.cotizador_cn_fono input.o-form__input {
	
	width: 80%;

	background-color: #eee;
    border: none;
    font-size: 2rem;
    text-align: center;
    display: inline;
    color: #7a7a7a;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-bottom: 7px;
	
}
main input[type="radio"] {
	margin: 5px;

}
main input[type="checkbox"] {
	margin: 5px;

}
o-form__field.o-form__field--inline labl.o-form__label{
	    margin-bottom: 21px;

}
form#tarjeta .row.tarjeta-mas-container{

    -moz-border-radius: 7px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-top: 27px;
    margin-left: 0px;
    margin-bottom: 20px;
}
	
	




/*-------ICONOS HOME ---------*/

.o-list__item {

    position: relative;
}
span.icon_home {
    display: block;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.o-box span.auto{
	width: 46%;
}

.o-box span.moto{
	width: 61%;
}

.o-box span.viajes{
	width: 61%;
}

.o-box span.vida{
	width: 39%;
}


.o-box span.hogar{
    width: 36%;
}

.o-box span.fraude{
	width: 34%;
}


span.o-list__title {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
g-recaptcha{
	margin-top: 0;
}

@media only screen and (max-width: 767px){
	
	.o-list--products > .o-list__item{
	
	    border-right: none !important;
		max-width: 49% !important;
	
	}
	.ul.o-list.o-list--products.row{
		
	display: flex;
    justify-content: center;
	}
	
	#reason-slick {
    margin: 13px 0;
}
	
	
	.c-reason__circle {

    height: 80px;
    margin-bottom: 17px;
}
	
	#offer-slick .slick-list .slick-track{
		height: 410px;
		
	}
	
	
}

.footer_logotipos { display: flex;justify-content: center; }




a.c-header__btn.c-header__btn--login {
    display: none;
}


@media only screen and (min-width: 767px){
	
	.o-list.o-list--products.row{
		display: flex;
		justify-content: center;
		flex-flow: row nowrap; 
		
		
	}
	
	.c-sure__company{
		
		width: 22%;
	}
	.c-sure__actions {
    width: 150px;
	}
	
}


@media only screen and (max-width: 767px){
	
	.o-list.o-list--products.row li{
		width: 49%;
		flex: none;

		
		
	}
	
}


@media  screen and (max-width: 992px){
	
	.c-hero{
		height: auto !important;
	
		
		
	}
	

	
	.c-quotient{
		height:auto !important;
		
	}
	
}




.c-nav.is_mobile {
	 box-shadow: 0px 0px 159px rgba(0, 0, 0, 0.5);
	}
	/* menu mobile fade in alternativa con problema de delay 
	.c-nav.is_mobile.is-active{
	 -webkit-animation-name: fadeInRightBig;
		animation-name: fadeInRightBig;
		-webkit-animation-duration: 0.2s;
		animation-duration: 0.2s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

  .fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInRightBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInRightBig {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(2000px, 0, 0);
  transform: translate3d(2000px, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
	menu mobile fade in alternativa con problema de delay */


@media only screen and (max-width: 992px){
	
	.c-nav {

    width: 75%;

    background: rgba(255, 255, 255, 0.95);
}
	
	
}

.o-steps .o-steps__item .o-steps__milestone .o-steps__value {

	-webkit-transform: none !important;
    transform: none !important;
	top: 0 !important;
    right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important; 
	text-align: center;
    line-height: 40px;
	height: 45px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
	font-weight: bold;
	font-size: 26px;

}

@media only screen and (max-width: 768px){
	
	.o-steps .o-steps__item .o-steps__milestone .o-steps__value {
		
		font-size: 16px;
		line-height: 19px;
    height: 26px;
		}
	
}


/*CSS MODAL SIN LOGIN */



.c-modal--modal-options .c-modal__modalBody .item.guest {
    border-right: 0px solid #FFF;
    padding-right: 30px;
    min-height: 218px;
}

.c-modal--modal-options .c-modal__modalBody .item.guest h3 {
    text-align: center;
}


.c-modal--modal-options .c-modal__modalBody .item.guest p {

    max-width: 100%;
	width: 100%;

}

.c-modal--modal-options .c-modal__modalHead .c-modal__modalHead-inner h2 {

	text-align: center;
	display: block;
}

.c-modal__modalBody .item.guest .o-btn--medium{
	    margin-bottom: 50px;
    margin-top: 32px;
	
}
.c-modal__wrap .c-modal__modalHead .c-modal__modalHead-inner {
    border-bottom: solid 1px #dedddd;
    padding-bottom: 32px !important;
}
.o-steps__item--Completed .o-steps__value {

    background-position: center 5px;
}

