

#miseguros_caluga{

	width: 251px;
	height: 92px;
	/*position:absolute;*/
	/*left: 871px;*/
	/*top: 167px;*/
	/*z-index: 99;*/
	/* border: 1px solid red; */
	background-image:url('../imagenes/fondoMiseguros.png');  
	font-family: Arial, verdana;	
	font-size: 11px;
	color: #666;
	padding: 15px;
	padding-top: 0px;
	line-height: 28px;
	margin-top: -7px;
	margin-left: 0px;
	
}

#encuesta_caluga{

	width: 281px;
	height: 130px;
	position:absolute;
	left: 871px;
	top: 293px;
	z-index: 99;
	/* border: 1px solid red; */
	background-image:url('../imagenes/encuestaCaluga.png');  
	
	
	font-family: Arial, verdana;
	
	
	font-size: 15px;
	padding-top: 6px;
	



}

#encuesta_caluga a{

	font-size: 10px;
	text-decoration: none;
	margin-left: 13px;
	

}


#encuesta_caluga a:hover{

	
	
}


#btnIr {

	height: 30px;
    left: 165px;
    position: absolute;
    top: 41px;
    width: 30px;
    z-index: 99;
	padding-left:165px;
}

#linkClave  {

	margin-left: 10px;
	
}

#linkCLave a {

	text-decoration: none;
	color: #999;
	font-size: 10px;
	margin-left: 22px;

}

#linkCLave  a:hover{

	text-decoration: none;
	color: #42ABE1;

}

#linksCajaLogeada  {

	
	
}

#linksCajaLogeada ul li  {

	list-style-image:url(../p7pmm/img/linkk.png);
	margin-left: 0px;
}



#linksCajaLogeada a {

	text-decoration: none;
	color: #999;
	font-size: 11px;
	
	

}

#fondo {

	background-image: url("../imagenes/fondo_home.png");
    height: 410px;
    left: 177px;
    position: absolute;
    top: 163px;
    width: 985px;
    z-index: 1;

}
