
#pestana {
	
	background-image: url("../css/p7pmm/img/maqueta_pestana.png");
    cursor: pointer;
    display: table-cell;
    font-family: Arial,verdana;
    font-size: 15px;
    height: 21px;
    padding-top: 11px;
    text-indent: 60px;
    width: 276px;
    *padding-top: 10px;
    *margin-top: -5px;
	*height:26px;
	

	
}

#pestana a {

	text-decoration: none;
	color: #56a9d5;
	font-weight: bold;
	
	
}

.pestana {

	display:table-cell;
	vertical-align:middle;
	width:200px;
	height:60px;
	color:#FFFFFF;
	background-color:#006699;
	border:#003366 1px solid;
	cursor:pointer;

}



