body {
	margin:0;
	padding:0;
}

#contenido_video_lb {
	width:600px;
	height:340px;
	display:block;
	margin:0;
	padding:0;
}

#video_lb {
	width: 550px;
	height: 270px;
	display: block;
	float: left;
	margin: 10px 25px;
	padding: 0;
	background-color: #000;
}

#btn_video_lb {
	width: 600px;
	height: 50px;
	display: block;
	float: left;
}

#btn_video_lb a {
	width:120px;
	height:50px;
	display:block;
	margin:0 240px;
	float:left;
	background:url(../img/botones/btn_cotiza_aqui_off.jpg) no-repeat;
}

#btn_video_lb a:hover {
	background:url(../img/botones/btn_cotiza_aqui_on.jpg) no-repeat;
}
