body {
	background-image: url("../images/img/background-body.gif");
    background-repeat: repeat-x;

}

#logo {

	width: 400px;
	height:  71px;
	background-image: url("../images/img/logo.gif");
	margin-left: 240px;
	margin-top: 10px;
	
}

#sitios {

	width: 900px;
	height:  25px;
	display: block;
	margin-left: 173px;
	margin-top: 0px;
	
}

#visita {
    background: url("../images/img/header_multisitio_03.jpg") ;
    margin-top: -8px;
    height: 25px;
    margin-left: 150px;
    width: 145px;
	float:left;
}

#paris a {
    background: url("../images/img/header_paris.jpg");
    float:left;
    height: 25px;
    margin-left: 25px;
    width: 79px;
	margin-top: -8px;
}

#paris a:hover {
    background: url("../images/img/header_paris_hover.jpg");
	}
	
#jumbo a {
    background: url("../images/img/header_jumbo.jpg") no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 25px;
    width: 80px;
	margin-top: -8px;
}

#jumbo a:hover {
    background: url("../images/img/header_jumbo_hover.jpg") no-repeat scroll center top transparent;
	}
	
#easy a {
    background: url("../images/img/header_easy.jpg") no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 25px;
    width: 79px;
	margin-top: -8px;
}

#easy a:hover {
    background: url("../images/img/header_easy_hover.jpg") no-repeat scroll center top transparent;
	}
	
#tarjetas a {
    background: url("../images/img/header_tarjetas.jpg") no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 25px;
    width: 100px;
	margin-top: -8px;
}

#tarjetas a:hover {
    background: url("../images/img/header_tarjetas_hover.jpg") no-repeat scroll center top transparent;
}

#seguros a {
    background: url("../images/img/header_seguros.jpg") no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 25px;
    width: 80px;
	margin-top: -8px;
}

#seguros a:hover {
    background: url("../images/img/header_seguros_hover.jpg") no-repeat scroll center top transparent;
}

#nectar a {
    background: url("../images/img/header_nectar.jpg") no-repeat scroll center top transparent;
    display: block;
    float: left;
    height: 25px;
    width: 80px;
	margin-top: -8px;
}

#nectar a:hover {
    background: url("../images/img/header_nectar_hover.jpg") no-repeat scroll center top transparent;
}




#imagen_404 {

	width: 740px;
	height:  448px;
	background-image: url("../images/img/404.png");
	margin-left: 260px;
	margin-top: 20px;
	
}

#contactanos_404 {

	width: 225px;
	height: 20px;
	color: #fff;
    font-family: arial,Verdana,Helvetica,sans-serif;
    font-size: 12px;
	margin-top: 350px;
	margin-left: 390px;
	/* border: 1px solid red; */
	z-index: 10px;
	position: absolute;
	text-align: center;
	padding-top: 4px;
	display: block;

}

#contactanos_404 a {

	text-decoration: none;
	color: #fff;

}

#pie_404 {

	width: 400px;
	height: 18px;
	color: #999999;
    font-family: arial,Verdana,Helvetica,sans-serif;
    font-size: 13.5px;
	margin-top: 121px;
	margin-left: 330px;
	/* border: 1px solid red; */
	z-index: 11px;
	position: absolute;
	text-align: left;
	padding-top: 4px;
	display: block;

}

#pie_404 a {

	text-decoration: none;
	color: #999999;
	

}

#pie_404 a:hover{

	text-decoration: none;
	color: #15C1F3;

}








