

body{ font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:11px;}

h1{ font-size:11px;}

h2{ font-size:11px; font-weight:bold;}

h3{ color:#1dbbeb; font-size:18px;}

.cajTitulo{ background-color:#5fc2f1; color:#FFFFFF; font-size:12px; height:15px;  }
.cajInfo{ background-color:#f1f3f2; color:#999999; font-size:10px; height:20px; padding-bottom::2px; text-align:center;}

.link_List a { color:#5fc2f1; text-decoration:underline;}
.link_List a:hover { color:#666666; text-decoration:underline;}

.link_List2 a { color:#fff; text-decoration:none;}
.link_List2 a:hover { color:#fff; text-decoration:underline;}

.link_List3 a { color:#fff; text-decoration:underline; }
.link_List3 a:hover { color:#fff; text-decoration:none;}

#sinsalto{
white-space:nowrap;
}

.datos_paris{
	border-collapse: collapse; 
	margin: 5px 0px 5px 0px; 
	font-size: 11px;
}

.datos_paris th	{
	text-align: left; 
	border: 1px solid #fff; 
	border-collapse: collapse; 
	background: #5fc2f1; 
	color: #fff; 
	padding: 3px 3px 3px 5px;
}

.datos_paris td	{
	text-align: left;
	border: 1px solid #fff; 
	border-collapse: collapse; 
	padding: 3px 3px 3px 5px;
	background-color:#f1f3f2;
}


.datos{ 
	border-collapse: collapse; 
	margin: 0px 0px 5px 0px; 
	font-size: 11px;
	background-color:#f1f3f2;
	border:1px solid #CCCCCC;
}

.datos th	{
	height:20px;
	text-align: right; 
	border-collapse: collapse; 
	padding: 3px 3px 3px 5px;
}

.datos td	{
	height:20px;
	border-collapse: collapse; 
	padding: 3px 3px 3px 5px;
}
.listadoSegCab {
	color:#fff;
	background-color:#5fc2f1;
	text-align: left; 
	border-collapse: collapse; 
	padding: 3px 3px 3px 30px;
}
.listadoSegImpar {
	height:20px;
	background-color:#ffffff;
	text-align: center; 
	border-collapse: collapse; 
	padding: 3px 3px 3px 5px;
}
.listadoSegPar {
	height:20px;
	background-color:#f1f3f2;
	text-align: center; 
	border-collapse: collapse; 
	padding: 3px 3px 3px 5px;
}

.msjError{ 
	width:914px;
	height:40px;
	margin:5px 0px 5px 0px;
	border:1px solid #FFCC00;
	background-color:#FFFF99;
	
 }

.textoMsj{
	color:#FF0000;
	font-size:12px;
	padding-left:20px;
}

