body {
	margin:0;
	padding:0;
}

.contenido_ofclientes {
	width: 600px;
	height: 180px;
	display: block;
	margin: 0 auto;
	padding: 0;
}

#estimado_ofclientes {
	width: 600px;
	height: 21px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #999999;
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: center;
}

#nombre_ofclientes {
	width: 600px;
	height: 45px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #06b0e8;
	font-size: 30px;
	text-align: center;
}

#rut_ofclientes {
	width: 500px;
	height: 28px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #999999;
	font-size: 16px;
	text-align: center;
	margin: 0 50px 25px 50px;
}

#rut_ofclientes font {
	font-weight: bold;
	font-size: 21px;
}

#txt_ofclientes {
	width: 580px;
	height: auto;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #999999;
	font-size: 16px;
	text-align: center;
	margin: 0 10px 25px 10px;
}

#txt_ofclientes font {
	font-weight: bold;
	font-size: 21px;
}

#txt_ofclientes span {
	font-weight: bold;
	font-size: 21px;
}

#cotizar_ofclientes {
	width: 250px;
	height: 20px;
	display: block;
	float: left;
	font-family: Century Gothic, Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #999999;
	font-size: 16px;
	text-align: right;
	margin: 5px 0 0 50px;
}

#btn_ofclientes {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	margin-left:5px;
	background:url(../images/btn_rc_off.png) no-repeat;
}

#btn_ofclientes a {
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	background:url(../images/btn_rc_off.png) no-repeat;
}

#btn_ofclientes a:hover {
	background:url(../images/btn_rc_on.png) no-repeat;
}
