body { font-family: Arial, Verdana, Helvetica, sans-serif; margin: 0; padding: 0; }
/****inicio nube leyer pregunta****/
#nube_pregunta { width: 157px; }
#curva_nube_pregunta_top {
	background-image: url(../imagenes/img_light_box/f-curva_nube_pregunta_top.png);
	background-repeat: no-repeat;
	width: 157px;
	height: 15px;
}
#nube_pregunta_texto { background-image: url(../imagenes/img_light_box/f-nube_pregunta_texto.png); background-repeat: repeat-y; width: 157px; }
#nube_pregunta_texto p { color: #4f4c4c; font-size: 11px; text-align: justify; margin: 0 15px 0 20px; padding: 0; }
#curva_nube_pregunta_botton { background-image: url(../imagenes/img_light_box/f-curva_nube_pregunta_botton.png); background-repeat: no-repeat; width: 157px; height: 17px; }
/****inicio nube leyer pregunta  FIN*****/
/******************************************/
/******************************************/
/******************************************/
/****ALERTE DATOS****/
#alerta_datos { background-image: url(../imagenes/img_light_box/f-alerta_datos.png); background-repeat: no-repeat; width: 477px; height: 53px; }
#alerta_datos span { color: #ff4107; font-size: 20px; font-weight: bold; margin-right: 5px; }
#alerta_datos p { color: #747475; font-size: 14px; text-align: center; margin: 0; padding-top: 12px; }
/****ALERTE DATOS FIN****/
/********************************************/
/********************************************/
/*****VER******/
#centenedor_ver { width: 366px; float: left; }
#curva_ver_top {
	background-image: url(../imagenes/img_light_box/f-curva_ver_top.png);
	width: 366px;
	height: 9px;
	float: left;
	background-repeat: no-repeat;
}
.ver-titulos { background-repeat: no-repeat; width: 366px; height: 20px; float: left; }
.ver-titulos span { margin-left: 20px; }
.ver-titulos h1 { color: #2d8cc4; font-size: 13px; margin: 0; padding: 0; }
#despliegue_ver {
	background-image: url(../imagenes/img_light_box/f-despliegue_ver.png);
	background-repeat: repeat-y;
	width: 366px;
	float: left;
	margin: 0px;
}
.ver-cobertura { background-repeat: no-repeat; width: 230px; height: 20px; float: left; padding-left: 30px; }
.ver-monto { background-repeat: no-repeat; width: 100px; height: 20px; float: left; }
.ver-textos { background-image: url(../imagenes/img_light_box/sombra.png); background-repeat: no-repeat; background-position: 50% bottom; width: 366px; float: left; margin-top: 5px; margin-bottom: 5px; padding-bottom: 10px; }
.ver-textos img { float: left; margin-right: 5px; margin-bottom: 10px; }
.ver-textos p { color: #898686; font-size: 11px; margin: 10px 0 0; padding-right: 30px; }
.ver-texto-covertura { background-repeat: no-repeat; width: 230px; float: left; padding-left: 30px; }
.ver-texto-monto { background-repeat: no-repeat; width: 100px; float: left; }
.ver-ir-aficha { width: 366px; float: left; margin-top: 10px; }
.ver-ir-aficha a { color: #2d8cc4; text-decoration: underline; }
.ver-ir-aficha p { color: #898686; font-size: 10px; text-align: right; margin: 0; padding: 0 30px 0 0; }
#curva_ver_botton { background-image: url(../imagenes/img_light_box/f-curva_ver_botton.png); background-repeat: no-repeat; width: 366px; height: 31px; float: left; }
/*****VER FIN******/
/**/
/*MENU DESPLEGABLE*/
.menu-desplegable { background-color: #fff; width: 171px; margin-right: auto; margin-left: auto; border-right: 2px solid #d1d1d1; border-bottom: 2px solid #d1d1d1; border-left: 2px solid #d1d1d1; }
.despliegue { width: 160px; margin-right: auto; margin-bottom: 20px; margin-left: auto; padding-top: 10px; }
.despliegue p { line-height: 190%; margin: 0; padding: 0; }
.despliegue a { color: #4f4c4c; text-decoration: none; }
.despliegue a:hover { color: #2d8cc4; }
.despliegue ul { margin: 10px 0; padding-left: 20px; }
.despliegue ul li { font-size: 11px; list-style-image: url(../imagenes/img_light_box/flecha-menu_hover.jpg); }
.despliegue ul li:hover { list-style-image: url(../imagenes/img_light_box/flecha-menu_hover.jpg); }
.corte { width: 150px; border-bottom: 1px solid #d1d1d1; }
/*MENU DESPLEGABLE*/
#texto_bboques_ver h2 { color: #2d8cc4; font-size: 17px; width: 300px; height: 50px; float: left; margin-left: 30px; padding-top: 5px; padding-bottom: 5px; }
.contver {
	float: left;
	height: auto;
	width: 366px;
}
