@charset "utf-8";
/* CSS Document */

.texto_tarjetas_mas {
	float: left;
	height: auto;
	width: 495px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	padding-left: 72px;
	padding-bottom: 25px;
}
#box-contenedor-maslinea {
	width: 704px;
	float: left;
	clear: both;
	border-top: 6px solid #f0eeee;
}
.texto_tarjetamas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: auto;
	width: 460px;
	padding-left: 70px;
	padding-top: 10px;
}
.fraude-acepto-contenedor {
	width: 24px;
	height: auto;
	float: left;
	margin-top: 4px;
}
.fraude-acepto-tarjetamas {
	height: 24px;
	float: left;
	margin-top: 2px;
	padding-top: 5px;
	
}
.fraude-acepto-conte {
	width: 455px;
	height: 24px;
	float: left;
}
.fraude-acepto-contenedor-foto { width: 24px; height: 24px; float: left; }
.primer_pago_tarjetamas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: auto;
	width: 460px;
	padding-left: 70px;
	padding-top: 10px;
	padding-bottom: 25px;
}
.titulo_tarjetamas_pago {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: lihter;
	color: #82898e;
	float: left;
	width: 420px;
	padding-left: 70px;
	padding-bottom: 15px;
	padding-top: 30px;
}
.texto_tarjetamas_paso3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999;
	float: left;
	height: auto;
	width: 620px;
	padding-left: 70px;
	padding-top: 10px;
	padding-bottom: 25px;
}
