
.texto-pie2 {
	width: 571px;
	float: right;
	text-align: right;
	padding-top: 25px;
	padding-bottom: 5px;
}

.texto-pie2 p {
	color: #666;
	font-size: 11px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	line-height: 130%;
	text-align: left;
	margin: 0 0 0;
	padding: 0;
}

.cont-text-pago {
	float: left;
	height: auto;
	width: 645px;
	padding-top: 20px;
	padding-bottom: 15px;
}