#ticket {

	background-image:url('../imagenes/ticket.jpg');
	border: none;
	width: 26px;
	height: 26px;
	cursor: pointer;
	float: left;
	margin-left: 155px;
    margin-top: -24px;

}

#input {

	float:left;
	width: 144px;
	color: #49AADD; 
	font-size: 14px; 
	text-align: center;

}