@charset "UTF-8";
/* CSS Document */

#contenido_denuncia_lb {
	width: 100%;
	margin: auto;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
}

#texto_denuncia_lb {
	width:900px;
	height:auto;
	padding:20px;
	margin:10px;
}

h1 {
	text-align:center;
	font-size:18px;
	color:#666666;
	font-weight:bold;
}

p {
	text-align:center;
	font-size:16px;
	color:#666666;
}

p span {
	font-size:26px;
	color:#fb8100;
	font-weight:bold;
}

.btn-continuar {
	font-family: GOTHIC, Verdana, Arial, sans-serif;
	background-color: #fb8100;
	color: #fff;
	font-size: 14px;
	text-shadow: none;
	border:none;
	padding:1% 2%;
}

@media only screen and (min-width:481px) and (max-width:768px) {
/*#paginas {
	display:none;
}*/

#texto_denuncia_lb {
	width:90%;
}
	
}

@media only screen and (min-width:0px) and (max-width:480px) {
/*#paginas {
	display:none;
}*/

#texto_denuncia_lb {
	width:90%;
}
	
}